.font-up-bold .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.font-up-bold .breadcrumb-item a span::after {
  content: "/";
  margin-left: 1rem;
  color: #868e96;
}

.blockItem {
  width: 150px;
  height: 100%;
  display: block;
}

.boardTitle {
  max-height: 110px;
  min-height: 110px;
  font-size: 14px;
}

.card-bg {
  background-color: #f0f7fc;
}

.addRight{
  border-right: 1px solid #7f7f7f;
}
.content-bundle {
  display: none;
  &.active {
    display: flex;
    transition: margin .5s ease, transform .5s ease;
  }
}
.toggle-label {
  h5 {
    display: inline-block;
  }
  i {
    transition: all .2s ease-in-out;
  }
  &.active {
    i {
      transform: rotate(180deg);
      transition: all .2s ease-in-out;
    }
  }
}
