<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <h4 translate>claim.searchClaim</h4>
      <br/>
      <div class="row">
        <div class="col-sm">
          <label translate>claim.claimType</label>
          <ng-select
            [items]="operationType"
            bindValue="value"
            [(ngModel)]="formData.typeId"
            placeholder="{{ 'claim.claimType' | translate }}">
          </ng-select>
        </div>
        <div class="col-sm">
          <label translate>claim.claimStatus</label>
          <ng-select
            [items]="appStatuses"
            [multiple]="true"
            bindValue="value"
            [(ngModel)]="formData.applicationStatuses"
            placeholder="{{ 'claim.claimStatus' | translate }}">
          </ng-select>
        </div>
        <div class="col-sm">
          <label translate>claim.crDateFromR.from</label>
          <input placeholder="{{'claim.crDateFromR.from' | translate}}" type="text" id="crDateFrom" class="form-control"
                 bsDatepicker #ru="bsDatepicker"
                 [(ngModel)]="formData.crDateFrom">
        </div>
        <div class="col-sm">
          <label translate>claim.crDateFromR.to</label>
          <input type="text" id="crDateTo" class="form-control" bsDatepicker #ru="bsDatepicker"
                 [(ngModel)]="formData.crDateTo">
        </div>
        <div class="col-sm">
          <label translate>claim.crDateFromR.from</label>
          <input type="text" id="lastModifyDateFrom" class="form-control" [(ngModel)]="formData.lastModifyDateFrom"
                 bsDatepicker #ru="bsDatepicker">
        </div>
        <div class="col-sm">
          <label translate>claim.lastModifyDateR.to</label>
          <input type="text" id="lastModifyDateTo" class="form-control" [(ngModel)]="formData.lastModifyDateTo"
                 bsDatepicker #ru="bsDatepicker">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label translate>claim.lastCommentDateR.from</label>
          <input type="text" id="lastCommentDateFrom" class="form-control" [(ngModel)]="formData.lastCommentDateFrom"
                 bsDatepicker #ru="bsDatepicker">
        </div>
        <div class="col-sm-2">
          <label translate>claim.lastCommentDateR.to</label>
          <input type="text" id="lastCommentDateTo" class="form-control" [(ngModel)]="formData.lastCommentDateTo"
                 bsDatepicker #ru="bsDatepicker">
        </div>
        <div class="col-sm-2">
          <div class="custom-control custom-checkbox myClaim">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" [(ngModel)]="formData.myClaim">
            <label class="custom-control-label" for="defaultUnchecked">Мои заявки</label>
          </div>
        </div>
        <div class="col-sm">
          <label translate>claim.textSearch</label>
          <input type="text" id="form1" class="form-control" [(ngModel)]="formData.textSearch">
        </div>
      </div>

      <div class="loader" *ngIf="loading" style="text-align: center">
        <i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i>
      </div>
      <br>

      <div class="row">
        <div class="col-sm">
          <button type="button" mdbBtn color="success" (click)="findClaims(0)"
                  class="btn btn-sm btn-info float-right btn2"
                  mdbWavesEffect>
            <span class="fa fa-search" translate> search</span>
          </button>
          <button type="button" class="btn btn-sm btn-link float-right btn2" (click)="clearForm()"
                  translate>
            clear
          </button>
        </div>
      </div>

      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open"
               aria-selected="true" translate>claim.opening
              <span class="badge badge-info ml-2">{{totalItems}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="open-sell-tab" data-toggle="tab" href="#open-sell" role="tab"
               aria-controls="open-sell"
               aria-selected="false" translate>claim.openingSell
              <span class="badge badge-info ml-2">0</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="open-buy-tab" data-toggle="tab" href="#open-buy" role="tab"
               aria-controls="open-buy"
               aria-selected="false" translate>claim.openingBuy
              <span class="badge badge-info ml-2">0</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed"
               aria-selected="false" translate>claim.closed
              <span class="badge badge-info ml-2">0</span>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open-tab">
          </div>
          <div class="tab-pane fade" id="open-sell" role="tabpanel" aria-labelledby="open-sell-tab">

          </div>
          <div class="tab-pane fade" id="open-buy" role="tabpanel" aria-labelledby="open-buy-tab">
          </div>

          <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered table-sm">
            <thead class="text-center">
            <tr>
              <th>ID заявки</th>
              <th>Операция</th>
              <th translate>claim.crDateFrom</th>
              <th translate>fio</th>
              <th translate>phone</th>
              <th translate>e-mail</th>
              <th translate>Район</th>
              <th translate>Количество комнат</th>
              <th translate>Цена</th>
              <th translate>Вид расчета</th>
              <th translate>Прошадь</th>
              <th translate>Этаж</th>
              <th translate>Статус</th>
              <th translate>Комментарий</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer">
            <tr *ngFor="let claim of claimData;let i = index">
              <td>
                <a [routerLink]="['/create-claim/', claim.id]">{{claim.id}}</a>
              </td>
              <td>{{getDicNameByLanguage(claim, 'operationType')}}</td>
              <td>{{formatDate(claim)}}</td>
              <td>{{claim.fullname}}</td>
              <td><span>{{claim.phone | mask: '+0 (000) 000-0000'}}</span></td>
              <td>{{claim.email}}</td>
              <td>{{getDicNameByLanguage(claim, 'district')}}</td>
              <td>{{claim.numberOfRooms}}</td>
              <td>{{claim.price}}</td>
              <td></td>
              <td>{{claim.totalArea}}</td>
              <td>{{claim.floor}}</td>
              <td>{{getDicNameByLanguage(claim, 'status')}}</td>
              <td>{{claim.comment}}</td>
            </tr>
            </tbody>
          </table>
          <div class="position-static createClaimBtn">
            <button type="button" class="btn btn-success btn-circle btn-xl" (click)="dnHref('create-claim')"><i
              class="fa fa-plus"></i>
            </button>
          </div>

          <pagination [(ngModel)]="currentPage"
                      [totalItems]="totalItems"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="10"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                      (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>

</div>
