.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
}

.createClaimBtn {
  z-index: 99999999999999999999999;
  float: right
}

.card-bg {
  background-color: #f0f7fc;
}
