<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <br/>
      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
             aria-controls="pills-home" aria-selected="true">Квартиры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
             aria-controls="pills-profile" aria-selected="false">Дом</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
             aria-controls="pills-contact" aria-selected="false">Все</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <!--<div class="container">-->
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Комнаты</label>
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline1" value="1"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline1">1</label>
                      </div>

                      <!-- Default inline 2-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline2" value="2"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline2">2</label>
                      </div>

                      <!-- Default inline 3-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline4" value="3"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline4">3</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline5" value="4"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline5">4</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline6" value="5"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline6">5</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts"
                               [(ngModel)]="formData.districtsId"
                               bindValue="value"
                               placeholder="{{ 'claim.barter' | translate }}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="homeTypes"
                      bindValue="value"
                      [(ngModel)]="formData.typeHome"
                      [ngModelOptions]="{standalone: true}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилой комплекс</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="residentialComplexes"
                      bindValue="value"
                      [(ngModel)]="formData.residentialComplexes"
                      [ngModelOptions]="{standalone: true}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Номер квартиы</label>
                  <div class="col-sm">
                    <input type="number" class="form-control"
                           [(ngModel)]="formData.numKvart" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" mino class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этажей в доме</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="dicDynamic" bindValue="value"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>

        <!--</div>-->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Комнаты</label>
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline13" value="1"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline13">1</label>
                      </div>

                      <!-- Default inline 2-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline23" value="2"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline23">2</label>
                      </div>

                      <!-- Default inline 3-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline43" value="3"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline43">3</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline53" value="4"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline53">4</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline63" value="5"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline63">5</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts" bindValue="value"
                               [(ngModel)]="formData.districtsId">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select name="typeHome"
                               [items]="homeTypes" bindValue="value"
                               [(ngModel)]="formData.typeHome">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Расстояние от центра города</label>
                  <div class="col-sm">
                    <input type="number" class="form-control" [(ngModel)]="formData.distance"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Гараж</label>
                  <div class="col-sm">
                    <input type="checkbox" class="form-control" style="margin-left: -42%" [(ngModel)]="formData.garage"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>


              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Чердак</label>
                  <div class="col-sm">
                    <input type="checkbox" class="form-control" style="margin-left: -42%" [(ngModel)]="formData.attic"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select name="zalog"
                               [items]="dicDynamic" bindValue="value"

                               [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

          <!--<div class="container">-->
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Комнаты</label>
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline12" value="1"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline12">1</label>
                      </div>

                      <!-- Default inline 2-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline22" value="2"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline22">2</label>
                      </div>

                      <!-- Default inline 3-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline42" value="3"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline42">3</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline52" value="4"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline52">4</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline62" value="5"
                               name="inlineDefaultRadiosExample" [(ngModel)]="formData.numberOfRooms">
                        <label class="custom-control-label" for="defaultInline62">5</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts" bindValue="value"

                               [(ngModel)]="formData.districtsId">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select name="typeHome"
                               [items]="homeTypes" bindValue="value"

                               [(ngModel)]="formData.typeHome">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилой комплекс</label>
                  <div class="col-sm">
                    <ng-select name="residentialComplexes"
                               [items]="residentialComplexes" bindValue="value"
                               [(ngModel)]="formData.residentialComplexes">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Номер квартиы</label>
                  <div class="col-sm">
                    <input type="number" class="form-control"
                           [(ngModel)]="formData.numKvart" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этажей в доме</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select name="zalog"
                               [items]="dicDynamic" bindValue="value"


                               [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>

        </div>

        <div class="row ">
          <div class="col-sm-9"></div>
          <div class="col-sm-3">

            <div class="row">
              <div class="form-group col-sm">
                <button type="button" mdbBtn color="success"
                        class="btn btn-sm btn-info float-right btn2"
                        mdbWavesEffect>
                  <span class="fa fa-map-marker"> Посмотреть на карте</span>
                </button>
                <button type="button" mdbBtn color="success" (click)="findObjects(1)"
                        class="btn btn-sm btn-info float-right btn2"
                        mdbWavesEffect>
                  <span class="fa fa-search" translate> search</span>
                </button>
                <button type="button" mdbBtn class="btn btn-sm btn-link float-right btn2" (click)="clearFilter()"
                        translate>
                  clear
                </button>
              </div>
            </div>
          </div>

        </div>


      </div>


      <br>
    </div>
  </div>


</div>
<div class="row">
  <h4 style="margin-left: 30px;">Найдено всего / </h4>

  <ng-select name="ob"
             [items]="objectMy"
             [(ngModel)]="objectMyModel"
             (changeEvent)="myObjectChange()"
             (change)="myObjectChange()"
             bindValue="value"
      class="col-sm-2">

  </ng-select>

  <!--<a class="h4 link"  *ngIf="myObject" (click)="myObjects()"> Свои объекты</a>-->
  <!--<a class="h4" (click)="allObjects() " *ngIf="!myObject"> Все объекты</a>-->



</div>
<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered text-center table-sm">
            <thead class="text-center">
            <tr>
              <th>№</th>
              <th translate>Фото</th>
              <th translate>Адрес</th>
              <th translate>Цена</th>
              <th translate>Комнатность</th>
              <th translate>Фото</th>
              <th translate>Обременение</th>
              <th translate>Аналитика цен</th>
              <th translate>Контакты агента</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer">
            <tr *ngFor="let object of objectsData;let i = index">
              <td>{{object.realPropertyId}}</td>
              <td><img [src]="getImgUrl(object)" alt="First Slide" class="photoList" height="100px"></td>
              <td>{{object.address.nameRu}}</td>
              <td>{{object.price}}</td>
              <td>{{object.numberOfRooms}}</td>
              <td>
                {{getCountFoto(object.photos)}}
              </td>
              <td>{{object.encumbrance}}</td>
              <td>{{object.priceAnalytics}}</td>
              <td>{{object.contactsOfAgent}}</td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm">
              <pagination [(ngModel)]="currentPage"
                          [totalItems]="totalItems"
                          [itemsPerPage]="itemsPerPage"
                          [maxSize]="10"
                          [rotate]="true"
                          [boundaryLinks]="true"
                          previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;"
                          lastText="&raquo;"
                          (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
            <div class="col-sm">
              <div class="position-static createClaimBtn">
                <button type="button" class="btn btn-success btn-circle btn-xl" (click)="dnHref('create-claim')"><i
                  class="fa fa-plus"></i>
                </button>

              </div>
            </div>


          </div>


        </div>

      </div>
    </div>
  </div>
</div>
