
<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <br/>
      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
             aria-controls="pills-home" aria-selected="true">Комнаты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
             aria-controls="pills-profile" aria-selected="false">Дом</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
             aria-controls="pills-contact" aria-selected="false">Все</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <!--<div class="container">-->
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Комнаты</label>
                  <div class="col-sm">


                    <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups" [(ngModel)]="model">
                      <div class="btn-group mr-auto mb-3 mb-md-0" role="group" aria-label="First group"
                      >
                        <button type="button" [value]="1" class="btn btn-primary ">1</button>
                        <button type="button" [value]="2" class="btn btn-primary ">2</button>
                        <button type="button" [value]="3" class="btn btn-primary ">3</button>
                        <button type="button" class="btn btn-primary ">4</button>
                        <button type="button" class="btn btn-primary ">5+</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts"
                               [(ngModel)]="formData.districtsId"
                               bindValue="value"
                               placeholder="{{ 'claim.barter' | translate }}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="homeTypes"
                      bindValue="value"
                      [(ngModel)]="formData.typeHome"
                      [ngModelOptions]="{standalone: true}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилой комплекс</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="residentialComplexes"
                      bindValue="value"
                      [(ngModel)]="formData.residentialComplexes"
                      [ngModelOptions]="{standalone: true}">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Номер квартиы</label>
                  <div class="col-sm">
                    <input type="number" class="form-control"
                           [(ngModel)]="formData.numKvart" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" mino class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этажей в доме</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select
                      [items]="dicDynamic" bindValue="value"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>

        <!--</div>-->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label style="text-align: right" for="input1" class="col-sm col-form-label">Комнаты</label>
                  <div class="col-sm">
                    <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-auto mb-3 mb-md-0" role="group" aria-label="First group"
                      >
                        <button type="button" class="btn btn-primary ">1</button>
                        <button type="button" class="btn btn-primary ">2</button>
                        <button type="button" class="btn btn-primary ">3</button>
                        <button type="button" class="btn btn-primary ">4</button>
                        <button type="button" class="btn btn-primary ">5+</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts" bindValue="value"
                               [(ngModel)]="formData.districtsId">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select name="typeHome"
                               [items]="homeTypes" bindValue="value"
                               [(ngModel)]="formData.typeHome">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Расстояние от центра города</label>
                  <div class="col-sm">
                    <input type="number" class="form-control" [(ngModel)]="formData.distance"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Гараж</label>
                  <div class="col-sm">
                    <input type="checkbox" class="form-control" style="margin-left: -42%" [(ngModel)]="formData.garage"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>


              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Чердак</label>
                  <div class="col-sm">
                    <input type="checkbox" class="form-control" style="margin-left: -42%" [(ngModel)]="formData.attic"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select name="zalog"
                               [items]="dicDynamic" bindValue="value"

                               [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

          <!--<div class="container">-->
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              <form>
                <div class="form-group row">
                  <label for="input1" class="col-sm col-form-label" style="text-align: right">Комнаты</label>
                  <div class="col-sm">
                    <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-auto mb-3 mb-md-0" role="group" aria-label="First group"
                           id="input1">
                        <button type="button" class="btn btn-primary ">1</button>
                        <button type="button" class="btn btn-primary ">2</button>
                        <button type="button" class="btn btn-primary ">3</button>
                        <button type="button" class="btn btn-primary ">4</button>
                        <button type="button" class="btn btn-primary ">5+</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Район</label>
                  <div class="col-sm">
                    <ng-select name="districtsId"
                               [items]="districts" bindValue="value"

                               [(ngModel)]="formData.districtsId">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Тип дома</label>
                  <div class="col-sm">
                    <ng-select name="typeHome"
                               [items]="homeTypes" bindValue="value"

                               [(ngModel)]="formData.typeHome">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилой комплекс</label>
                  <div class="col-sm">
                    <ng-select name="residentialComplexes"
                               [items]="residentialComplexes" bindValue="value"
                               [(ngModel)]="formData.residentialComplexes">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Номер квартиы</label>
                  <div class="col-sm">
                    <input type="number" class="form-control"
                           [(ngModel)]="formData.numKvart" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </form>


            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Цена</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.priceTo"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этаж</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Этажей в доме</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.floorsTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">В залоге</label>
                  <div class="col-sm">
                    <ng-select name="zalog"
                               [items]="dicDynamic" bindValue="value"


                               [(ngModel)]="formData.zalog">
                    </ng-select>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-sm-3">
              <form>
                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Общая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.totalAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Жилая площадь</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.livingSpaceTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm col-form-label" style="text-align: right">Площадь кухни</label>
                  <div class="col-sm row">
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaFrom"
                           [ngModelOptions]="{standalone: true}">
                    -
                    <input type="number" class="col-sm form-control" [(ngModel)]="formData.kitchenAreaTo"
                           [ngModelOptions]="{standalone: true}">

                  </div>
                </div>

              </form>

            </div>

          </div>

        </div>

        <div class="row ">
          <div class="col-sm-9"></div>
          <div class="col-sm-3">
            <div class="form-group row">
              <div class="col-sm">
                <button type="button" class="btn btn-primary" (click)="findObjects(0)"><i class="fa fa-search"
                                                                                          aria-hidden="true"></i>
                  Показать результаты
                </button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-info"><i class="fa fa-map-marker" aria-hidden="true"></i>
                  Посмотреть на карте

                </button>
              </div>
            </div>

          </div>

        </div>


      </div>


      <br>
    </div>
  </div>


</div>

<h4 style="margin-left: 30px;">Найдено всего/</h4>
<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered text-center table-sm">
            <thead class="text-center">
            <tr>
              <th>№</th>
              <th translate>Фото</th>
              <th translate>Адрес</th>
              <th translate>Цена</th>
              <th translate>Комнатность</th>
              <th translate>Фото</th>
              <th translate>Обременение</th>
              <th translate>Аналитика цен</th>
              <th translate>Контакты агента</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer">
            <tr *ngFor="let object of objectsData;let i = index">
              <td>{{object.realPropertyId}}</td>
              <td> <img [src]="getImgUrl(object.photos.PHOTO[0])" alt="First Slide" class="photoList" width="302" height="320"></td>
              <td>{{object.address.nameRu}}</td>
              <td>{{object.price}}</td>
              <td>{{object.numberOfRooms}}</td>
              <td>
                {{getCountFoto(object.photos)}}
              </td>
              <td>{{object.encumbrance}}</td>
              <td>{{object.priceAnalytics}}</td>
              <td>{{object.contactsOfAgent}}</td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm">
              <pagination [(ngModel)]="currentPage"
                          [totalItems]="totalItems"
                          [itemsPerPage]="itemsPerPage"
                          [maxSize]="10"
                          [rotate]="true"
                          [boundaryLinks]="true"
                          previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;"
                          lastText="&raquo;"
                          (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
            <div class="col-sm">
              <div class="position-static createClaimBtn">
                <button type="button" class="btn btn-success btn-circle btn-xl" (click)="dnHref('create-claim')"><i
                  class="fa fa-plus"></i>
                </button>

              </div>
            </div>


          </div>


        </div>

      </div>
    </div>
  </div>
</div>
