<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="assets/images/home/2.jpg"
                       alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Агентские договора:</h4>
                  <p class="card-text">2 500 000 тг</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="assets/images/home/3.jpg"
                       alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Сумма задатков:</h4>
                  <p class="card-text">1 000 000 тг</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="assets/images/home/1.jpg"
                       alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Сумма продаж:</h4>
                  <p class="card-text">70 000 000 тг</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="h5 font-weight-bold">Рейтинг экспертов</p>
          </div>
          <div class="row">
            <div class="col-sm">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-1">
                      <span class="badge badge-pill badge-info">1</span>
                    </div>
                    <div class="col-sm-4">
                      Гущина Любовь
                    </div>
                  </div>
                </li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 applicationLightForm" [formGroup]="applicationLightForm">
          <p class="h5 font-weight-bold">Заметка</p>
          <div class="row">
            <input type="text" class="form-controls" id="surName" placeholder="Фамилия"
                   formControlName="surName" required/>
            <div *ngIf="f.surName.touched && f.surName.invalid" class="text-danger">
              <div *ngIf="f.surName.errors.required" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="row">
            <input type="text" class="form-control" placeholder="Имя"
                   formControlName="name"/>
            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
              <div *ngIf="f.name.errors.required" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="row">
            <input type="text" class="form-control" id="patronymic" placeholder="Отчество"
                   formControlName="patronymic">
          </div>
          <div class="row">
            <input type="text" id="phoneNumber" class="form-control"
                   name="phoneNumber" placeholder="Телефон"
                   [formControl]="applicationLightForm.controls['phoneNumber']"
                   prefix="+7" mask=' (000) 000-0000'
                   placeHolderCharacter="0" (change)="searchByPhone()"/>
            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="text-danger">
              <div *ngIf="f.phoneNumber.errors.required" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="row">
            <textarea class="col-sm-12 form-controls" formControlName="note" placeholder="Комментарий"></textarea>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ng-select
                style="margin: 0 -15px"
                [items]="objectType"
                formControlName="objectTypeId"
                placeholder="{{ 'claim.objectType' | translate }}">
              </ng-select>
              <div *ngIf="f.objectTypeId.touched && f.objectTypeId.invalid" class="text-danger">
                <div *ngIf="f.objectTypeId.errors.required" translate>claim.requiredField</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3" *ngFor="let type of operationType;let i = index">
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" formControlName="operationTypeId" value="">{{type.label}}
                </label>
              </div>
              <div *ngIf="f.operationTypeId.touched && f.operationTypeId.invalid" class="text-danger">
                <div *ngIf="f.operationTypeId.errors.required" translate>claim.requiredField</div>
              </div>
            </div>
            <div class="col-sm" [hidden]="util.hasShowAgentGroup('CHOOSE_GROUP_AGENT', roles) &&
                                         util.hasShowAgentGroup('CHOOSE_ANY_AGENT', roles)">
              <ng-select
                style="margin: 0 -15px"
                [items]="agentList"
                formControlName="agentLogin"
                bindValue="value"
                placeholder="{{ 'Выберите агента' | translate }}">
              </ng-select>
              <div *ngIf="f.agentLogin.touched && f.agentLogin.invalid" class="text-danger">
                <div *ngIf="f.agentLogin.errors.required" translate>claim.requiredField</div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn col-sm btn-link float-left" (click)="clear()" translate>clear</button>
            <button class="btn btn-default col-sm float-right" [disabled]="!this.applicationLightForm.valid"
                    (click)="onSave()" translate>patterns.save
            </button>
          </div>
        </div>
      </div>


      <br/>
      <div class="row">
        <div class="col-sm">
          <app-calendar></app-calendar>
        </div>
        <div class="col-sm">
          <table class="table table-bordered table-sm">
            <thead class="text-center">
            <tr>
              <th>ID заявки</th>
              <th>Операция</th>
              <th translate>claim.objectType</th>
              <th translate>claim.crDateFrom</th>
              <th translate>fio</th>
              <th translate>phone</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer">
            <tr *ngFor="let claim of claimLightData;let i = index">
              <td>
                <a [routerLink]="['/create-claim/', claim?.id]">{{claim.id}}</a>
              </td>
              <td>{{getDicNameByLanguage(claim, 'operationType')}}</td>
              <td>{{getDicNameByLanguage(claim, 'objectType')}}</td>
              <td>{{formatDate(claim)}}</td>
              <td>{{claim.fullname}}</td>
              <td><span>+7{{claim.phone | mask: ' (000) 000-0000'}}</span></td>
            </tr>
            </tbody>
          </table>

          <pagination [(ngModel)]="currentPage"
                      [totalItems]="totalItems"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="10"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                      (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
