<div class="row w-100"></div>
<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm card-agent-col-sm">
        <div class="card card-agent">
          <div class="view overlay">
            <img class="card-img-top" [src]="jpg2"
                 alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title card-agent-title">Агентские договора:</p>
            <p class="font-weight-bold disabled-bottom-margin">{{'99999999' | mask: 'separator':','}} тг</p>
          </div>
        </div>
      </div>
      <div class="col-sm card-agent-col-sm">
        <div class="card card-agent">
          <div class="view overlay">
            <img class="card-img-top" [src]="jpg3"
                 alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px">Сумма задатков:</h5>
            <p class="font-weight-bold disabled-bottom-margin">{{'99999999' | mask: 'separator':','}} тг</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-agent">
          <div class="view overlay">
            <img class="card-img-top" [src]="jpg1"
                 alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px">Сумма продаж:</h5>
            <p class="font-weight-bold disabled-bottom-margin">{{'99999999' | mask: 'separator':','}} тг</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body" style="padding-bottom: 0;">
            <p class="h5 font-weight-bold">Рейтинг экспертов</p>
            <ul class="list-group">
              <li class="list-group-item" style="margin: 0 -21px">
                <div class="row" style="margin: 0">
                  <div class="col-sm-2">
                    <span class="badge badge-pill badge-info">1</span>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                         class="rounded-circle z-depth-0"
                         alt="avatar image" height="35">
                  </div>
                  <div class="col-sm">
                    <span class="badge-txt">Гущина Любовь</span>
                  </div>
                  <div class="col-sm">
                    <span
                      class="badge badge-pill color-aqua text-white badge-txt">{{'99999999' | mask: 'separator':','}}
                      млн</span>
                  </div>
                  <div class="col-sm-2">
                      <span class="text-warning font-weight-bold float-right badge-txt"><i aria-hidden="true"
                                                                                           class="fa fa-star">9.8</i></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 applicationLightForm" [formGroup]="applicationLightForm">
    <div class="card">
      <div class="card-body">
        <p class="h5 input-info font-weight-bold">Заметка</p>
        <div class="row input-info">
          <input type="text" id="phoneNumber" class="form-controls"
                 name="phoneNumber" placeholder="Телефон"
                 [formControl]="applicationLightForm.controls['phoneNumber']"
                 prefix="+7" mask=' (000) 000-0000'
                 placeHolderCharacter="0" (change)="searchByPhone()"/>
          <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="text-danger">
            <div *ngIf="f.phoneNumber.errors.required" translate>claim.requiredField</div>
          </div>
        </div>
        <div class="row input-info">
          <input type="text" class="form-controls" placeholder="Имя"
                 formControlName="name" [(ngModel)]="applicationLightForm.name"/>
          <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
            <div *ngIf="f.name.errors.required" translate>claim.requiredField</div>
          </div>
        </div>
        <div class="row input-info">
          <input type="text" class="form-controls" id="surName" placeholder="Фамилия"
                 formControlName="surName" [(ngModel)]="applicationLightForm.surName"/>
        </div>
        <div class="row input-info">
          <input type="text" class="form-controls" id="patronymic" placeholder="Отчество"
                 formControlName="patronymic" [(ngModel)]="applicationLightForm.patronymic">
        </div>
        <div class="row input-info">
          <div class="col-sm-12">
            <ng-select
              style="margin: 0 -15px"
              [items]="objectType"
              formControlName="objectTypeId"
              placeholder="{{ 'claim.objectType' | translate }}">
            </ng-select>
            <div *ngIf="f.objectTypeId.touched && f.objectTypeId.invalid" class="text-danger">
              <div *ngIf="f.objectTypeId.errors.required" translate>claim.requiredField</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm pad-left41">
            <mat-button-toggle-group [(ngModel)]="applicationLightForm.operationTypeId"
                                     formControlName="operationTypeId" class="width-100">
              <mat-button-toggle class="operation-type width-100"
                                 *ngFor="let item of operationType" [value]="item" [id]="item.code"
                                 [class]="item.value != applicationLightForm.operationTypeId?.value ? 'bg-white text-dark' : ''"
                                 [ngClass]="{ 'color-aqua text-white':item.value === applicationLightForm.operationTypeId?.value}">
                {{item.label}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-sm pad-right41" [class.disabledDev]="util.hasShowAgentGroup('CHOOSE_GROUP_AGENT', roles) &&
                                         util.hasShowAgentGroup('CHOOSE_ANY_AGENT', roles)">
            <ng-select
              [items]="agentList"
              formControlName="agentLogin"
              bindValue="value"
              placeholder="{{ 'Выберите агента' | translate }}">
            </ng-select>
            <div *ngIf="f.agentLogin.touched && f.agentLogin.invalid" class="text-danger">
              <div *ngIf="f.agentLogin.errors.required" translate>claim.requiredField</div>
            </div>
          </div>
        </div>
        <div class="row input-info">
          <textarea class="col-sm-12 form-controls" formControlName="note" placeholder="Комментарий"></textarea>
        </div>
        <div class="row">
          <mat-button-toggle-group class="width-100 pad-left41 pad-right41">
            <mat-button-toggle class="operation-type bg-white text-dark width-100" (click)="clear()">
              <i aria-hidden="true" class="fa fa-times text-dark"></i>
              Очистить
            </mat-button-toggle>
            <mat-button-toggle class="operation-type color-aqua text-white width-100" style="margin-right: 0" (click)="onSave()"
                               [disabled]="!this.applicationLightForm.valid">
              Сохранить
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </div>
</div>

<app-calendar style="max-height: 550px;min-height: 550px;"></app-calendar>

<div class="row">
  <div class="col-sm">
    <table class="table table-sm">
      <thead class="text-center">
      <tr>
        <th>ID заявки</th>
        <th>Операция</th>
        <th translate>claim.objectType</th>
        <th translate>fio</th>
        <th translate>claim.crDateFrom</th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <tr *ngFor="let claim of claimLightData;let i = index" class="text-center">
        <td>
          <a [routerLink]="['/create-claim-view/', claim?.id]">{{claim.id}}</a>
        </td>
        <td>{{getDicNameByLanguage(claim, 'operationType')}}</td>
        <td>{{getDicNameByLanguage(claim, 'objectType')}}</td>
        <td>{{claim.fullname}}</td>
        <td style="color: #00b2a8">{{formatDate(claim)}}</td>
      </tr>
      </tbody>
    </table>

    <pagination [(ngModel)]="currentPage"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="10"
                [rotate]="true"
                [boundaryLinks]="true"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>
