<div class="card">
  <div class="card-body">
    <div [formGroup]="eventsForm">
      <div class="row">
        <div class="col-sm-3">
          <label>Добавить событие</label>
          <ng-select
            [items]="appStatusesSort"
            formControlName="eventTypeId"
            [(ngModel)]="eventsForm.eventTypeId"
            (ngModelChange)="setShowEvent()"
            bindValue="value"
            placeholder="{{ 'patterns.chooseElement' | translate }}">
          </ng-select>
        </div>
        <div class="col-sm-2">
          <i aria-hidden="true" *ngIf="eventsForm.value.eventTypeId == 1" class="fa fa-eye fa-2x">Показ</i>
          <i aria-hidden="true" *ngIf="eventsForm.value.eventTypeId == 2" class="fa fa-phone fa-2x">Звонок</i>
          <i aria-hidden="true" *ngIf="eventsForm.value.eventTypeId == 3" class="fa fa-handshake-o fa-2x">Встреча</i>
        </div>
        <div class="col-sm">
          <label>Описание события</label>
          <textarea class="col-sm-12 control" rows="1" formControlName="description"></textarea>
        </div>
        <div class="col-sm" *ngIf="eventsForm.value.eventTypeId == 1">
          <label>ID заявки - {{this.applicationId}}</label>
          <textarea [value]="this.applicationInfo" class="col-sm-12 control" rows="1" readonly></textarea>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="fillFromAndTo">Дата и Время:</label>
          <input type="text"
                 id="fillFromAndTo"
                 formControlName="eventDate"
                 class="form-control"
                 bsDatepicker
                 [minDate]="today"
                 #ru="bsDatepicker"/>
        </div>
        <div class="col-sm-2" style="margin-top: -26px;">
          <ngb-timepicker formControlName="time"></ngb-timepicker>
        </div>
        <div class="col-sm" [class.disabledDev]="commentDev">
          <label for="form7">Комментарий</label>
          <textarea class="col-sm-12 control" rows="1" formControlName="comment"></textarea>
        </div>
        <div class="col-sm-1">
          <button type="button" *ngIf="commentDev" (click)="unBlock()" class="btn btn-sm btn-primary">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
<!--      <button type="button" class="btn btn-btn btn-sm btn2 btn-secondary">Закрыть</button>-->
      <button type="button" class="btn btn-btn btn-sm btn2 btn-success" [disabled]="!this.eventsForm.valid" (click)="save()">
        Сохранить
      </button>
    </div>

    <div>

      <div *ngFor="let events of eventsData; let i = index">
        <div class="event-block">
          <br/>
          <div class="row">
            <div class="col-sm-2">
              <ng-select
                readonly="true"
                [items]="appStatusesSort"
                [(ngModel)]="events.eventType.id"
                bindValue="value"
                placeholder="{{ 'patterns.chooseElement' | translate }}">
              </ng-select>
            </div>
            <div class="col-sm-2">
              <i aria-hidden="true" *ngIf="events.eventType?.id == 1" class="fa fa-eye fa-2x">Показ</i>
              <i aria-hidden="true" *ngIf="events.eventType?.id == 2" class="fa fa-phone fa-2x">Звонок</i>
              <i aria-hidden="true" *ngIf="events.eventType?.id == 3" class="fa fa-handshake-o fa-2x">Встреча</i>
            </div>
            <div class="col-sm" [class.disabledDev]="events.disabledDev">
              <label for="form7">Описание события</label>
              <textarea class="col-sm-12 control" rows="2" [(ngModel)]="events.description"></textarea>
            </div>
            <div class="col-sm" *ngIf="events?.eventType?.id == 1" [class.disabledDev]="events.disabledDev">
              <label for="form7">ID заявки - {{this.applicationId}}</label>
              <textarea class="col-sm-12 control" rows="2" readonly></textarea>
            </div>
            <div class="col-sm-2">
              <div class="row">
                <div class="col-sm>">
                  <button type="button" (click)="deleteEvent(events?.eventId)" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-sm>">
                  <button type="button" (click)="editEvent(events)" class="btn btn-sm btn-primary">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2" [class.disabledDev]="events.disabledDev">
              <label translate>Дата и Время:</label>
              <input type="text" [(ngModel)]="events.eventDate" class="form-control"
                     bsDatepicker #ru="bsDatepicker"/>
            </div>
            <div class="col-sm-2" style="margin-top: -26px;" [class.disabledDev]="events.disabledDev">
              <ngb-timepicker [(ngModel)]="events.time"></ngb-timepicker>
            </div>
            <div class="col-sm">
              <div class="row">
                <div class="col-sm-9" [class.disabledDev]="events.disabledDevComment">
                  <label>Комментарий</label>
                  <div class="input-group">
                    <textarea class="col-sm-12 control" rows="2" [(ngModel)]="events.comment"></textarea>
                  </div>
                </div>
                <div class="col-sm">
                  <button type="button" (click)="editEventComment(events)" class="btn btn-sm btn-primary">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!events.disabledDev || !events.disabledDevComment">
          <button type="button" class="btn btn-sm btn2 btn-secondary" (click)="this.changeDisableDev(events, true)">Отмена</button>
          <button type="button" class="btn btn-sm btn2 btn-success" (click)="update(events)">
            Сохранить
          </button>
        </div>
      </div>

      <pagination [(ngModel)]="currentPage"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="10"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
    <br/>
    <br/>
  </div>

</div>
