.notifications-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.notification-card-filter {
  .card-header {
    background-color: #333333;
    color: #ffffff;
  }

  margin-bottom: 30px;
}

.new-notify {
  color: #00b2a8;
}

.new-notify.fa.fa-circle {
  font-size: 10px;
  padding-right: 5px;
}

.notification-filter-form {
  .form-control-label {
    display: block;
  }

  .col-md-2 {
    float: left;
  }
}

.notification-body {
  padding: 10px 0;
  margin-top: 5px;
  max-width: 600px;
}

.td-id span {
  margin-left: 3px;
  margin-right: 3px;
}

.notify-circle-wrapper {
  width: 20px;
  display: inline-block;
}

.search-btn {
  width: 200px;
  border-radius: 5px;
}

.clear-btn {
  width: 200px;
  border-radius: 5px;
}

.operation-type {
  border-radius: 0.3125rem;
  border: 1px solid #d0d0d0;
  margin-right: 0.3125rem;
}

.answer-btn-wrapper {
  text-align: right;
  padding-top: 10px;
}

.answer-wrapper {

  textarea {
    width: 100%;
    padding: 10px;
  }
}

.answer-wrapper b, .answer-btn-wrapper b {
  padding: 3px;
  display: inline-block;
  cursor: pointer;
}