<div class="card-body">
  <div class="card">
    <div class="card-body">
      <h4 translate>claim.searchClaim</h4>
      <br/>
      <div class="row">
        <div class="col-sm">
          <label class="control-labels" translate>claim.claimType</label>
          <div class="row">
<!--            <ng-select [allowClear]="true"-->
<!--                       [(ngModel)]="formData.claimType"-->
<!--                       [options]="dClaimType"-->
<!--                       placeholder="{{ 'patterns.chooseElement' | translate }}">-->
<!--            </ng-select>-->
          </div>
        </div>
        <div class="col-sm">
          <div class="form-groups">
            <label class="control-labels" for="crDateFrom" translate>claim.crDateFrom</label>
            <div class="row">
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.crDateFrom" id="crDateFrom"
                       placeholder="{{ 'patterns.from' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.crDateTo" id="crDateTo"
                       placeholder="{{ 'patterns.to' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-groups">
            <label class="control-labels" translate>claim.lastModifyDate</label>
            <div class="row">
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.lastModifyDateFrom"
                       placeholder="{{ 'patterns.from' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.lastModifyDateTo"
                       placeholder="{{ 'patterns.to' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-groups">
            <label class="control-labels" translate>claim.lastCommentDate</label>
            <div class="row">
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.lastCommentDateFrom"
                       placeholder="{{ 'patterns.from' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
              <div class="col-form-label">
                <input type="text" [(ngModel)]="formData.lastCommentDateTo"
                       placeholder="{{ 'patterns.to' | translate }}" maxlength="10"
                       class="form-controls"
                       bsDatepicker #ru="bsDatepicker"/>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <label class="control-labels" for="textSearch" translate>claim.textSearch</label>
          <div class="row">
            <input type="text" id="textSearch" [(ngModel)]="formData.textSearch" class="form-controls"/>
          </div>
        </div>
      </div>

      <div class="loader" *ngIf="loading" style="text-align: center">
        <i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i>
      </div>
      <br>

      <div class="row">
        <div class="col-sm">

          <button type="button" mdbBtn color="success" class="btn btn-sm btn-info" style="width: 200px; float: right"
                  mdbWavesEffect>
            <span class="fa fa-search" translate> search</span>
          </button>
          <button type="button" class="btn btn-sm btn-link" style="width: 200px;float: right" translate>
            clear
          </button>
        </div>
      </div>

      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open"
               aria-selected="true" translate>claim.opening
              <span>(0 в т.ч)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="open-sell-tab" data-toggle="tab" href="#open-sell" role="tab"
               aria-controls="open-sell"
               aria-selected="false" translate>claim.openingSell
              <span>(0)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="open-buy-tab" data-toggle="tab" href="#open-buy" role="tab"
               aria-controls="open-buy"
               aria-selected="false" translate>claim.openingBuy
              <span>(0)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed"
               aria-selected="false" translate>claim.closed
              <span>(0)</span>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open-tab">
          </div>
          <div class="tab-pane fade" id="open-sell" role="tabpanel" aria-labelledby="open-sell-tab">

          </div>
          <div class="tab-pane fade" id="open-buy" role="tabpanel" aria-labelledby="open-buy-tab">
          </div>

          <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <table class="table table-bordered text-center table-sm">
            <thead class="text-center">
            <tr>
              <th>№</th>
              <th translate>claim.transactionType</th>
              <th translate>claim.crDateFrom</th>
              <th translate>fio</th>
              <th translate>phone</th>
              <th translate>e-mail</th>
              <th translate>Район</th>
              <th translate>Код обьекта</th>
              <th translate>Количество комнат</th>
              <th translate>Цена</th>
              <th translate>Вид расчета</th>
              <th translate>Прошадь</th>
              <th translate>Этаж</th>
              <th translate>Комментарий</th>
            </tr>
            </thead>
            <!--            <tbody style="cursor: pointer">-->
            <!--            <tr *ngFor="let node of actData;let i = index"-->
            <!--                (click)="setClickedRow(i, node)"-->
            <!--                [class.active]="i == selectedRow"-->
            <!--                [className]="node.blacklist == true ? 'text-left rgba-indigo-slight' : 'text-left'">-->
            <!--              <td [hidden]="tblColumn.DateEntry">{{node.appDate}}</td>-->
            <!--              <td [hidden]="tblColumn.ShortFullName">-->
            <!--                <a style="color: #01A9C3;text-decoration: underline; font-weight: bold"-->
            <!--                   (click)="basicModal.show()">-->
            <!--                  {{node.personData.surname}} {{node.personData.name}} {{node.personData.patronymic}}-->

            <!--                </a>-->
            <!--              </td>-->
            <!--              <td [hidden]="tblColumn.LiveCity">{{node.personData.birthCity}}</td>-->
            <!--              <td [hidden]="tblColumn.Position">-->
            <!--                <div *ngFor="let staff of node.resumeStaffs">-->
            <!--                  <span>{{staff.staffId.post.nameRu}}</span>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td [hidden]="tblColumn.ResumeStatus">{{node.status.nameRu}}</td>-->
            <!--              <td class="text-center">-->
            <!--                <div class="btn-group" *ngIf="!node.status?.dresumeStatusChanges?.length < 1">-->
            <!--                  <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown"-->
            <!--                          aria-haspopup="false" aria-expanded="false"-->
            <!--                          (click)="panelExpanded = !panelExpanded" translate>Route-->
            <!--                  </button>-->
            <!--                  <div class="dropdown-menu">-->
            <!--                    <div *ngFor="let statused of node.status?.dresumeStatusChanges;">-->
            <!--                      <div (click)="changeStatus(statused, node)"-->
            <!--                           class="dropdown-item clearfix"> {{statused.buttonNameRu}}</div>-->
            <!--                      <div class="dropdown-divider"></div>-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td class="text-center">-->
            <!--                <div class="custom-control custom-checkbox" [hidden]="node.check?.id">-->
            <!--                  <input type="checkbox" [(ngModel)]="node.check" class="custom-control-input"-->
            <!--                         id="defaultChecked+{{i}}">-->
            <!--                  <label class="custom-control-label" for="defaultChecked+{{i}}"></label>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            </tbody>-->
          </table>
          <div class="position-static" style="z-index: 99999999999999999999; float: right">
            <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-plus"></i>
            </button>

          </div>

          <pagination [(ngModel)]="currentPage"
                      [totalItems]="totalItems"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="10"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
                      (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>

</div>
