<div class="card-body card-bg">
  <div class="card">
    <div class="card-body">
      <!--<div class="container">-->
      <div class="row">
        <div class="col-sm-2">
          <div style="border: solid 1px black; padding: 5px">
            <h3>Все справочники</h3>
          </div>
          <div style="border: solid 1px black; padding: 5px">
            <a (click)="loadDictionaryForEdit('residential-complexes'); resident=true"><h5>ЖК</h5></a>
            <a (click)="loadDictionaryForEdit('COUNTRIES'); resident=false"><h5>Страна </h5></a>
            <a (click)="loadDictionaryForEdit('CITIES'); resident=false"><h5>Город</h5></a>
            <a (click)="loadDictionaryForEdit('DISTRICTS'); resident=false"><h5>Районы</h5></a>
            <a (click)="loadDictionaryForEdit('STREETS'); resident=false"><h5>Улицы</h5></a>
            <a (click)="loadDictionaryForEdit('PROPERTY_DEVELOPERS'); resident=false"><h5>Застройщик</h5></a>
            <a (click)="loadDictionaryForEdit('TYPE_OF_ELEVATOR'); resident=false"><h5>Тип лифта</h5></a>
            <a (click)="loadDictionaryForEdit('MATERIALS_OF_CONSTRUCTION'); resident=false"><h5>Материал постройки
              (квартира)</h5></a>
            <a (click)="loadDictionaryForEdit('MATERIALS_OF_CONSTRUCTION'); resident=false"><h5>Материал постройки
              (дом)</h5></a>
            <a (click)="loadDictionaryForEdit('SEWERAGE_SYSTEMS'); resident=false"><h5>Канализация</h5></a>
            <a (click)="loadDictionaryForEdit('HEATING_SYSTEMS'); resident=false"><h5>Отопление</h5></a>
            <a (click)="loadDictionaryForEdit('PARKING_TYPES'); resident=false"><h5>Парковка</h5></a>
            <a (click)="loadDictionaryForEdit('YARD_TYPES'); resident=false"><h5>Двор</h5></a>
            <a (click)="loadDictionaryForEdit('POSSIBLE_REASONS_FOR_BIDDING'); resident=false"><h5>Возможные причины
              торга</h5></a>
          </div>
        </div>


        <div class="col-sm-10">
          <div style="border: solid 1px black; padding: 5px; ">
            <a *ngIf="adminRoles" (click)="openModal(template);editDic()"><i style="color: blue" class="fa fa-edit fa-2x"></i></a>
            <a *ngIf="adminRoles" style="margin-left: 10px" (click)="openModal(template);addDic()"><i style="color:green"
                                                                                                      class="fa fa-plus-circle fa-2x"></i></a>
            <a *ngIf="adminRoles" (click)="openModal(template2);deleteDic()" style="margin-left: 10px"><i style="color:red"
                                                                                                          class="fa fa-times-circle fa-2x"></i></a>
          </div>

          <div style="border: solid 1px black; padding: 5px;
     overflow: auto;">
            <table *ngIf="resident" class="table table-bordered text-center">
              <thead class="text-center">
              <tr>
                <!--<th>Страна</th>-->
                <th>Город</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер здания (дома)</th>
                <th>Номер дома (дробь/буква/строение)</th>
                <th>Название дома (ЖК)</th>
                <th>Год постройки</th>
                <th>Застройщик</th>
                <th>Этажность дома</th>
                <th>Количество подъездов</th>
                <th>Количество квартир</th>
                <th>Квартир на площадке</th>
                <th>Высота потолков</th>
                <th>Материал постройки</th>
                <th>Класс жилья</th>
                <th>Состояние</th>
                <th>Тип лифта</th>
                <th>Консьерж</th>
                <th>Колясочная</th>
                <th>Парковка</th>
                <th>Двор</th>
                <th>Детская площадка</th>
              </tr>
              </thead>
              <tbody style="cursor: pointer">
              <tr *ngFor="let dic of residentialComplexes;let i = index" (click)="clickTr(dic)"
                  [ngClass]="{'rowBlue': (dic==clickColumnDic)}">
                <!--<td>{{dic.code}}</td>-->
                <td>
                  <ng-select
                    [disabled]="true"
                    bindValue="value"
                    bindLabel="label"
                    [items]="cities"
                    [(ngModel)]="dic.cityId">
                  </ng-select>
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    bindValue="value"
                    bindLabel="label"
                    [items]="districts"
                    [(ngModel)]="dic.districtId">
                  </ng-select>
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    bindValue="value"
                    bindLabel="label"
                    [items]="streets"
                    [(ngModel)]="dic.streetId">
                  </ng-select>
                </td>
                <td>
                  {{dic.houseNumber}}
                </td>
                <td>
                  {{dic.houseNumberFraction}}
                </td>
                <td>
                  {{dic.houseName}}
                </td>
                <td>
                  {{dic.yearOfConstruction}}
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    bindValue="value"
                    bindLabel="label"
                    [items]="propertyDevelopers"
                    [(ngModel)]="dic.propertyDeveloperId">
                  </ng-select>
                </td>
                <td>
                  {{dic.numberOfFloors}}
                </td>
                <td>
                  {{dic.numberOfEntrances}}
                </td>
                <td>
                  {{dic.numberOfApartments}}
                </td>
                <td>
                  {{dic.apartmentsOnTheSite}}
                </td>
                <td>
                  {{dic.ceilingHeight}}
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    bindValue="value"
                    bindLabel="label"
                    [items]="materialsOfConstruction"
                    [(ngModel)]="dic.materialOfConstructionId">
                  </ng-select>
                </td>
                <td>
                  {{dic.housingClass}}
                </td>
                <td>
                  {{dic.housingCondition}}
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    [multiple]="true"
                    bindValue="value"
                    bindLabel="label"
                    [items]="typeOfElevator"
                    [(ngModel)]="dic.typeOfElevator">
                  </ng-select>
                </td>
                <td>
                  {{dic.concierge}}
                </td>
                <td>
                  {{dic.wheelchair}}
                </td>
                <td>
                  <ng-select
                    [disabled]="true"
                    [multiple]="true"
                    bindValue="value"
                    bindLabel="label"
                    [items]="parkingTypes"
                    [(ngModel)]="dic.parkingTypeIds">
                  </ng-select>
                </td>
                <td>
                  <ng-select
                    [disabled]="true"

                    bindValue="value"
                    bindLabel="label"
                    [items]="yardTypes"
                    [(ngModel)]="dic.yardType">
                  </ng-select>
                </td>
                <td>
                  {{dic.playground}}
                </td>
              </tr>
              </tbody>
            </table>


            <!--{{clickColumnDic.nameEn}}-->
            <table *ngIf="!resident" class="table table-bordered text-center table-sm">
              <thead class="text-center">
              <tr>
                <th>Код</th>
                <th>nameEn</th>
                <th>nameKz</th>
                <th>nameRu</th>
              </tr>
              </thead>
              <tbody style="cursor: pointer">
              <tr *ngFor="let dic of dictionary;let i = index" (click)="clickTr(dic)"
                  [ngClass]="{'rowBlue': (dic==clickColumnDic)}"
              >
                <td>{{dic.code}}</td>
                <td>{{dic.nameEn}}</td>
                <td>{{dic.nameKz}}</td>
                <td>{{dic.nameRu}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <ng-template #template2>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Подтверждение действия</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();clearForm();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center">
          <div class="col-sm" style="text-align: center">
            <h4 class="modal-title pull-left">Действительно удалить запись реестра?</h4>
          </div>

          <div class="col-sm" style="text-align: right">
            <button type="button" class="btn btn-primary" (click)="deleteById()" style="margin: 10px">
              Подтвердить
            </button>
            <button type="button" class="btn btn-light" (click)="modalRef.hide();clearForm()" style="margin: 10px">
              Отмена
            </button>


          </div>
        </div>
      </ng-template>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left" *ngIf="actions=='ADD'">Добавление новой записи в справочник</h4>
          <h4 class="modal-title pull-left" *ngIf="actions=='EDIT'">Редактирование записи справочника</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="openModal2(template3)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-sm" *ngIf="!resident">
            <label class="col-sm col-form-label">Код<span class="text-danger">&nbsp;*</span></label>
            <input type="text" class="col-sm form-control" name="Username"
                   [(ngModel)]="formData.code">
            <div *ngIf="!formData.code" class="text-danger">
              <div *ngIf="!formData.code" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="col-sm" *ngIf="!resident">
            <label class="col-sm col-form-label">nameEn<span class="text-danger">&nbsp;*</span></label>
            <input type="text" class="col-sm form-control" name="nameEn" [(ngModel)]="formData.nameEn">
          </div>
          <div class="col-sm" *ngIf="!resident">
            <label class="col-sm col-form-label">nameRu<span
              class="text-danger">&nbsp;*</span></label>
            <input type="text" class="col-sm form-control" name="nameRu" [(ngModel)]="formData.nameRu">
            <div *ngIf="!formData.nameRu" class="text-danger">
              <div *ngIf="!formData.nameRu" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="col-sm" *ngIf="!resident">
            <label class="col-sm col-form-label">nameKz<span class="text-danger">&nbsp;*</span></label>
            <input type="text" class="col-sm form-control" name="nameKz" [(ngModel)]="formData.nameKz">
          </div>

          <!--ЖК начало-->
          <!--<div class="col-sm" *ngIf="resident">-->
          <!--<label class="col-sm col-form-label">Страна<span class="text-danger">&nbsp;*</span></label>-->
          <!--<ng-select-->
          <!--bindValue="value"-->
          <!--bindLabel="label"-->
          <!--[items]="countries"-->
          <!--[(ngModel)]="formRes.countryId">-->
          <!--</ng-select>-->
          <!--</div>-->
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Город<span class="text-danger">&nbsp;*</span></label>
            <ng-select
              required="true"
              bindValue="value"
              bindLabel="label"
              [items]="cities"
              [(ngModel)]="formRes.cityId">
            </ng-select>
            <div *ngIf="!formRes.cityId" class="text-danger">
              <div *ngIf="!formRes.cityId" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Район</label>
            <ng-select
              bindValue="value"
              bindLabel="label"
              [items]="districts"
              [(ngModel)]="formRes.districtId">
            </ng-select>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Улица<span class="text-danger">&nbsp;*</span></label>
            <ng-select
              required="true"
              bindValue="value"
              bindLabel="label"
              [items]="streets"
              [(ngModel)]="formRes.streetId">
            </ng-select>
            <div *ngIf="!formRes.streetId" class="text-danger">
              <div *ngIf="!formRes.streetId" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Номер здания (дома)<span class="text-danger">&nbsp;*</span></label>
            <input type="text"  maxlength="3"  min="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var} class="col-sm form-control" name="houseNumber"   required="true"
                   [(ngModel)]="formRes.houseNumber">
            <div *ngIf="!formRes.houseNumber" class="text-danger">
              <div *ngIf="!formRes.houseNumber" translate>claim.requiredField</div>
            </div>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Номер дома (дробь/буква/строение)</label>
            <input type="text" maxlength="3" class="col-sm form-control" name="houseNumberFraction"
                   [(ngModel)]="formRes.houseNumberFraction">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Название дома (ЖК) <span class="text-danger">&nbsp;*</span></label>
            <input type="text" maxlength="50" class="col-sm form-control" name="houseName"
                   [(ngModel)]="formRes.houseName">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Год постройки</label>
            <input type="text"  maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="yearOfConstruction"
                   [(ngModel)]="formRes.yearOfConstruction">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Застройщик</label>
            <ng-select
              bindValue="value"
              bindLabel="label"
              [items]="propertyDevelopers"
              [(ngModel)]="formRes.propertyDeveloperId">
            </ng-select>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Этажность дома</label>
            <input type="text"  maxlength="3" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="numberOfFloors"
                   [(ngModel)]="formRes.numberOfFloors">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Количество подъездов</label>
            <input type="text"  maxlength="3" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="numberOfEntrances"
                   [(ngModel)]="formRes.numberOfEntrances">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Количество квартир</label>
            <input type="text"  maxlength="5" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="numberOfApartments"
                   [(ngModel)]="formRes.numberOfApartments">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Квартир на площадке</label>
            <input type="text"  maxlength="5" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="apartmentsOnTheSite"
                   [(ngModel)]="formRes.apartmentsOnTheSite">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Высота потолков</label>
            <input type="text"  maxlength="3" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   value=${var}  class="col-sm form-control" name="ceilingHeight"
                   [(ngModel)]="formRes.ceilingHeight">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Материал постройки</label>
            <ng-select
              bindValue="value"
              bindLabel="label"
              [items]="materialsOfConstruction"
              [(ngModel)]="formRes.materialOfConstructionId">
            </ng-select>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Класс жилья</label>
            <input type="text" maxlength="50" class="col-sm form-control" name="housingClass"
                   [(ngModel)]="formRes.housingClass">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Состояние</label>
            <input type="text" maxlength="50" class="col-sm form-control" name="housingCondition"
                   [(ngModel)]="formRes.housingCondition">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Тип лифта</label>
            <ng-select
              multiple="true"
              bindValue="value"
              bindLabel="label"
              [items]="typeOfElevator"
              [(ngModel)]="formRes.typeOfElevatorIdList">
            </ng-select>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Консьерж</label>
            <input type="checkbox" class="col-sm form-control" name="concierge" [(ngModel)]="formRes.concierge">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Колясочная</label>
            <input type="checkbox" class="col-sm form-control" name="wheelchair" [(ngModel)]="formRes.wheelchair">
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Парковка {{formRes.parkingTypeIds}}</label>
            <ng-select
              multiple="true"
              bindValue="value"
              bindLabel="label"
              [items]="parkingTypes"
              [(ngModel)]="formRes.parkingTypeIds">
            </ng-select>
          </div>
          <div class="col-sm" *ngIf="resident">
            <label class="col-sm col-form-label">Двор</label>
            <ng-select
              bindValue="value"
              bindLabel="label"
              [items]="yardTypes"
              [(ngModel)]="formRes.yardTypeId">
            </ng-select>
          </div>

          <!--ЖК конец-->
          <div class="col-sm" style="text-align: right">
            <button type="button" class="btn btn-primary" (click)="submit()" style="margin: 10px">
              Сохранить
            </button>
            <button type="button" class="btn btn-light" (click)="openModal2(template3)" style="margin: 10px">
              Отмена
            </button>

          </div>

        </div>
      </ng-template>

      <ng-template #template3>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Внимание</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          всплывающее окно с предупреждением об утере внесенных данных и запросить подтверждение данного действия
        </div>
        <div class="col-sm" style="text-align: right">
          <button type="button" class="btn btn-primary" (click)="closeModal()" style="margin: 10px">
            Подтвердить
          </button>
          <button type="button" class="btn btn-light" (click)="modalRef2.hide()" style="margin: 10px">
            Отмена
          </button>


        </div>
      </ng-template>


      <!--</div>-->
    </div>
  </div>
</div>
