.month-block-div {
  font-size: 18px;
  margin: 0 auto;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #454545;
  font-weight: bold;
  margin: 0 -36px;
  text-align: center;
}

.list-group-item {
  border: none;
  color: #454545;
  padding: 0.399rem 1.25rem;
}

@function grey($opacity) {
  @return rgba(140, 140, 140, $opacity)
}

//.list-group-item:hover {
//  background: grey(0.1);
//}

.main-month-name {
  height: 20px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.36;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
}

@function orange($opacity) {
  @return rgba(240, 209, 115, $opacity)
}

.to-do-month {
  background: orange(0.7);
}

.to-do-title {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.36;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
}

.month-block {
  min-height: 550px;
  max-height: 550px;
  box-shadow: 0 0 2.9px 0.1px rgba(0, 0, 0, 0.25);
  width: 291px;
}
