<div class="row py-0"></div>
<div class="row" ngxUiLoaderBlurred>
  <div class="col-sm" >
    <div class="card card-min-height">
      <div class="card-body">
        <div class="row">
          <span class="badge-info-id text-center">МОЙ ID: {{util.getCurrentUser().id}}</span>
        </div>
        <div class="row">
          <div class="col-sm">
              <img alt="аватар" style="position: inherit" *ngIf="getSrcImg(profile?.photoUuid)" [src]="getSrcImg(profile?.photoUuid)"
                   class="rounded-circle rounded-circle-ava"/>
            <label class="text-center fa-2x bg-primary text-white rounded-circle add-ava-btn " *ngIf="save">
              <i class="fa fa-plus "></i>
              <input type="file" hidden (change)="onFileChanged($event)">
            </label>
            <label class="text-center fa-stack-2x bg-danger text-white rounded-circle add-del-btn" *ngIf="save && profile.photoUuid != null">
              <a  (click)="delImage(profile?.photoUuid)"><i aria-hidden="true" class="fa fa-times "></i></a>
            </label>
          </div>
          <div class="col-sm">
            <div class="row">
              <span
                class="fullName-label fullName-label text-uppercase">{{currentUser?.surname}} {{currentUser?.name}}</span>
              <span class="speciality-label w-100">Специалист по недвижимости</span>
              <span class="profile-info-label w-100">
                <i aria-hidden="true" class="fa fa-phone-square profile-icon" *ngIf="!save"></i>
                <input type="text" class="form-control small" placeholder="Введите ваш номер"
                       [(ngModel)]="profile.phone" *ngIf="save" prefix="+7 " mask="(000) 000 00 00">
                <span *ngIf="!save" >{{profile.phone | mask: '0 (000) 000-0000'}}</span>
              </span>
              <span class="profile-info-label w-100">
                <i aria-hidden="true" class="fa fa-envelope profile-icon" *ngIf="!save"></i>
                <input type="email" class="form-control small" placeholder="Введите ваш e-mail"
                       [(ngModel)]="profile.email" *ngIf="save">
                <span *ngIf="!save" >{{profile.email}}</span>
              </span>
              <span class="profile-info-label w-100">
                <i aria-hidden="true" class="fa fa-map-marker profile-icon" *ngIf="!save"></i>
                <input type="text" class="form-control small" placeholder="Введите ваш адрес"
                       [(ngModel)]="profile.address" *ngIf="save">
                <span *ngIf="!save" >{{profile.address}}</span>
              </span>
              <span class="profile-info-label w-100 profile-icon-delimiter"></span>
              <br/>
              <span class="last-sign-label w-100 clearfix">Последний раз был(-а) <span class="font-weight-bold">в 19:00 11 мая 2020 года</span></span>
            </div>
            <div class="row" style="margin-bottom: 0">
              <div class="col-sm">
              </div>
              <div class="col-sm ">
                <button type="button" *ngIf="!save" (click)="editProfile()"
                        class="btn color-aqua text-white edit-button float-right ">
                  Редактировать профиль
                </button>
                <button type="button" *ngIf="save" (click)="saveProfile()"
                        class="btn color-aqua text-white edit-button float-right ">
                  Сохранить профиль
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm" >
    <div class="card card-min-height">
      <div class="card-body">
        <table style="width:100%;">
          <tr>
            <th class="table-column-header">Группа продажи:</th>
            <td class="table-column-value">Руководитель Рамеева Динара</td>
          </tr>
          <tr>
            <th class="table-column-header">Рабочее состояние:</th>
            <td class="table-column-value">В отпуске с 4 мая до 1 июня 2020 года</td>
          </tr>
          <tr>
            <th class="table-column-header">Транспорт:</th>
            <td class="table-column-value">
              <span *ngIf="!save" >{{profile.transport}}</span>
              <input type="text" [(ngModel)]="profile.transport" *ngIf="save" class="form-control"
                     placeholder="Транспорт">
            </td>
          </tr>
        </table>
        <br/>
        <div class="rieltor-raiting">
          <span class="rieltor-raiting-text">Рейтинг риэлтора:</span>
          <span class="rieltor-raiting-text float-right"><i aria-hidden="true"
                                                            class="fa fa-star"></i> 9,1 баллов</span>
        </div>
        <br/>
        <table style="width:100%;">
          <tr>
            <th class="table-column-header">
              <i aria-hidden="true" class="fa fa-edit"></i>Агентские договора:
            </th>
            <td class="table-blue-value">2 500 000 тг</td>
          </tr>
          <tr>
            <th class="table-column-header">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              Сумма задатков:
            </th>
            <td class="table-blue-value">1 000 000 тг</td>
          </tr>
          <tr>
            <th class="table-column-header">
              <i class="fa fa-money" aria-hidden="true"></i>Сумма продаж:
            </th>
            <td class="table-blue-value">70 000 000 тг</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row py-0"></div>
<div class="row">
  <div class="col-sm">
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
      <li class="nav-item" *ngIf="agentRoles || rgRoles">
        <a class="nav-link active panel-header" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">Мои объекты</a>
      </li>
      <li class="nav-item" *ngIf="agentRoles || rgRoles">
        <a class="nav-link panel-header" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Мои сделки</a>
      </li>
      <li class="nav-item" *ngIf="rgRoles">
        <a class="nav-link panel-header" id="agent-tab" data-toggle="tab" href="#agent" role="tab" aria-controls="contact"
           aria-selected="false">Мои агенты</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent2">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab"
           *ngIf="agentRoles || rgRoles">
        <div class="card">
          <div class="card-body">
            <app-my-objects></app-my-objects>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"
           *ngIf="agentRoles || rgRoles">
        <div class="card">
          <div class="card-body">
            <app-my-claims></app-my-claims>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="agent" role="tabpanel" aria-labelledby="agent-tab" *ngIf="agentRoles || rgRoles">
        <div class="card">
          <div class="card-body">
            <app-my-agents></app-my-agents>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
