<div class="card"
     *ngIf="this.actRoute.snapshot.queryParamMap.get('activeTab') == 'advanceAgreement' || this.actRoute.snapshot.queryParamMap.get('activeTab') == 'depositAgreement' ">
  <div class="card-body">
    <div class="contract-form" [formGroup]="contractForm">
      <div class="row">
        <div class="col-sm-2">
          <div class="row">
            <label>ID заявки<span class="text-danger">&nbsp;*</span></label>
            <input type="number" class="form-control" placeholder="ID заявки" formControlName="sellApplicationId"
                   aria-describedby="button-addon2" [(ngModel)]="contractForm.sellApplicationId">
          </div>
          <div class="row">
            <button class="btn btn-outline-aqua btn-sm btn2" (click)="searchApplication()" type="button" id="button-addon2">
              <i class="fa fa-search" aria-hidden="true"></i> Поиск заявки по объекту
            </button>
          </div>
          <div class="row">
            <label>Сумма {{payType}} (тг)<span class="text-danger">&nbsp;*</span></label>
            <input type="text" class="form-control" formControlName="payedSum"
                   [(ngModel)]="contractForm.payedSum"
                   mask="separator" suffix=" ₸" thousandSeparator=" "/>
          </div>
        </div>
        <div class="col-sm">
          <fieldset class="scheduler-border col-sm">
            <legend class="scheduler-border">Соглашение о приеме {{payType}}</legend>
            <div class="root" *ngIf="isShowPdf">
              <iframe id="pdfIframe" type="application/pdf" height="100vh" width="100%" frameBorder="0"></iframe>
            </div>
          </fieldset>
        </div>
        <div class="col-sm-2">
          <div class="row">
            <button type="button" *ngIf="!isShowPdf" [disabled]="!this.contractForm.valid" (click)="generateContract()"
                    class="btn btn-outline-aqua btn2 btn-sm">
              Сформировать договор
            </button>
          </div>
          <div class="row" *ngIf="isShowPdf">
            <a type="button" [href]="this.util.generatorFullUrl(this.uuid)" target="_blank"
               class="btn btn-success btn2 btn-sm">Скачать</a>
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary btn2 btn-sm" (click)="backToPrev()" *ngIf="fromBoard">Назад</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

