<div class="row w-100"></div>
<div class="row" [formGroup]="objectForm">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <mat-button-toggle-group [(ngModel)]="objectForm.objectTypes" formControlName="objectTypes">
              <mat-button-toggle class="operation-type" (click)="setNullableObjectTypes()"
                                 [class]="objectForm.objectTypes?.value != null ? 'bg-white text-dark' : ''"
                                 [ngClass]="{ 'color-aqua text-white':objectForm.objectTypes?.value == null}">
                Все
              </mat-button-toggle>
              <mat-button-toggle class="operation-type"
                                 *ngFor="let item of objectTypes" [value]="item" [disabled]="[3,4].includes(item.value)"
                                 [class]="item.value != objectForm.objectTypes?.value ? 'bg-white text-dark' : ''"
                                 [ngClass]="{ 'color-aqua text-white':item.value === objectForm.objectTypes?.value}">
                {{item.label}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label class="form-label-v">Район</label>
            <ng-select formControlName="districtsId"
                       [items]="districts"
                       bindValue="value"
                       [searchable]="false"
                       [(ngModel)]="objectForm.districtsId">
            </ng-select>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Комнаты</label>
            <mat-button-toggle-group [(ngModel)]="objectForm.numberOfRooms" formControlName="numberOfRooms">
              <mat-button-toggle class="roomsCount"
                                 *ngFor="let item of roomsCount" [value]="item"
                                 [class]="item != objectForm.numberOfRooms ? 'bg-white text-dark' : ''"
                                 [ngClass]="{ 'color-aqua text-white':item === objectForm.numberOfRooms}">
                {{item === 5 ? '5+' : item}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Цена</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator"
                       class="col-sm form-control"
                       [(ngModel)]="objectForm.priceFrom"
                       formControlName="priceFrom"
                       placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control"
                       formControlName="priceTo" [(ngModel)]="objectForm.priceTo"
                       placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Общая площадь</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.totalAreaFrom"
                       formControlName="totalAreaFrom" placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.totalAreaTo"
                       formControlName="totalAreaTo" placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="expanded">
          <div class="col-sm">
            <label class="form-label-v">Материал постройки</label>
            <ng-select formControlName="typeHome"
                       [items]="homeTypes" bindValue="value"
                       [searchable]="false"
                       [(ngModel)]="objectForm.typeHome">
            </ng-select>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Этаж</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.floorFrom"
                       formControlName="floorFrom" placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.floorsTo"
                       formControlName="floorsTo" placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Жилая площадь</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.livingSpaceFrom"
                       formControlName="livingSpaceFrom" placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.livingSpaceTo"
                       formControlName="livingSpaceTo" placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>
          <div class="col-sm" *ngIf="objectForm.objectTypes?.value != 2">
            <label class="form-label-v">Этажей в доме</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.floorsFrom"
                       formControlName="floorsFrom" placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.floorsTo"
                       formControlName="floorsTo" placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>

        </div>
        <div class="row" *ngIf="expanded">
          <div class="col-sm">
            <label class="form-label-v">В залоге</label>
            <div class="row test">
              <div class="col-sm" *ngFor="let data of dicDynamic;">
                <input type="radio" [id]="data.code" [name]="'zalog'"
                       [value]="data.code" formControlName="zalog"
                       [(ngModel)]="objectForm.zalog"/>
                <label>&nbsp;{{data.label}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <label class="form-label-v">Площадь кухни</label>
            <div class="row">
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.kitchenAreaFrom"
                       formControlName="kitchenAreaFrom" placeholder="{{'patterns.from2' | translate}}">
              </div>
              <div class="col-sm">
                <input type="text" mask="separator" class="col-sm form-control" [(ngModel)]="objectForm.kitchenAreaTo"
                       formControlName="kitchenAreaTo" placeholder="{{'patterns.to2' | translate}}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="expanded-search" (click)="expandedBlock()">
            Расширенный поиск
            <i class="fa fa-angle-down fa-2x" *ngIf="!expanded" aria-hidden="true"></i>
            <i class="fa fa-angle-up fa-2x" *ngIf="expanded" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <button type="button" class="btn btn-sm btn2 btn-secondary" (click)="backToPrev()" *ngIf="fromBoard">Назад
          </button>
          <button *ngIf="eventCall" type="button" class="btn btn-sm btn2 color-aqua text-white"
                  (click)="addEventShow()">Добавить на показ
          </button>
        </div>
        <div class="row disabled-bottom-margin">
          <div class="col-sm">
            <span class="found-text font-italic">Найдено всего: {{totalItems}} объектов</span>
          </div>
          <div class="col-sm">
            <mat-button-toggle-group class="float-right">
              <mat-button-toggle class="map-btn text-dark fontw">
                <i class="fa fa-map-o" aria-hidden="true"></i>
                Посмотреть на карте
              </mat-button-toggle>

              <mat-button-toggle class="operation-type bg-white text-dark clear-btn" (click)="objectForm.reset()">
                Очистить
              </mat-button-toggle>
              <mat-button-toggle class="operation-type color-aqua text-white search-btn" (click)="findObjects(1)">
                <i aria-hidden="true" class="fa fa-search"></i>
                Поиск
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-sm all-objects text-center" *ngFor="let data of objectMy"
            (click)="myObjectChange(data.value)">{{data.label}}</button>
  </div>
  <div class="col-sm"></div>
  <div class="col-sm"></div>
</div>
<div class="row" *ngIf="fromBoard">
  <div class="col-sm">
    <table class="table table-sm overflow-auto">
      <thead class="text-center">
      <tr>
        <th translate>Фото</th>
        <th translate>Адрес</th>
        <th translate>Комнатность</th>
        <th translate>Общая площадь</th>
        <th translate>Этаж</th>
        <th translate>Год постройки</th>
        <th translate>Материал</th>
        <th translate>Район</th>
        <th translate>Состояние</th>
        <th translate></th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <tr *ngFor="let object of objectsData;let i = index">
        <td><img *ngIf="getImgUrl(object)" [src]="getImgUrl(object)" alt="First Slide" class="photoList" height="100px">
        </td>
        <td style="color: #00b2a8">{{object.address?.nameRu}}</td>
        <td>{{object.numberOfRooms}}</td>
        <td>{{object.totalArea}}</td>
        <td>{{object.floor}}</td>
        <td>{{object.yearOfConstruction}}</td>
        <td>{{object.materialOfConstruction?.name?.nameRu}}</td>
        <td>{{object.district?.name?.nameRu}}</td>
        <td>{{object.houseCondition?.name?.nameRu}}</td>
        <td>
          <span class="table-remove">
            <button type="button" class="btn btn-sm btn-success"
                    (click)="openModal(openObjectClaims, 'modal-xl', object)">Заявки по обекту</button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card-body">
      <pagination [(ngModel)]="currentPage"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="10"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>
<div class="row" *ngIf="!fromBoard">
  <div class="col-sm">
    <table class="table table-bordered table-sm overflow-auto">
      <thead class="text-center">
      <tr>
        <th>№</th>
        <th>Фото</th>
        <th>Тип объекта</th>
        <th>Адрес</th>
        <th>Цена</th>
        <th>Количество комнат</th>
        <th>Фото</th>
        <th>Обременение</th>
        <th>Аналитика цен</th>
        <th>Контакты агента</th>
      </tr>
      </thead>
      <tbody class="bg-white text-center">
      <tr *ngFor="let object of objectsData;let i = index">
        <td>{{object.realPropertyId}}</td>
        <td><img *ngIf="getImgUrl(object)" [src]="getImgUrl(object)" alt="First Slide" class="photoList"
                 height="150px" width="220px"></td>
        <td>{{getDicNameByLanguage(object, 'objectTypeId')}}</td>
        <td style="color: #00b2a8">{{object.address.nameRu}}</td>
        <td>{{object.objectPrice}}</td>
        <td>{{object.numberOfRooms}}</td>
        <td>
          {{getCountFoto(object.photos)}}
        </td>
        <td>{{object.encumbrance?.nameRu}}</td>
        <td>{{object.priceAnalytics}}</td>
        <td>
            <span *ngIf="object.contactsOfAgent">
              +7{{object.contactsOfAgent | mask: ' (000) 000-0000'}}
            </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card-body">
      <pagination [(ngModel)]="currentPage"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="10"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>

<ng-template #openObjectClaims let-close="close">
  <div class="modal-header">
    Заявки по объекту
    <button type="button" class="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm">
        <table class="table table-bordered table-striped table-sm">
          <thead class="text-center">
          <tr>
            <th></th>
            <th>ID</th>
            <th>Дата</th>
            <th>Цена</th>
            <th>Ипотека</th>
            <th>Вер-тъ торга</th>
            <th>Обрем-е</th>
            <th>Обмен</th>
            <th>Аналитика</th>
            <th>Агент</th>
            <th>Телефон</th>
          </tr>
          </thead>
          <tbody style="cursor: pointer">
          <tr *ngFor="let object of selectObject.applicationList;let i = index">
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="object.check" (change)="checkedObjects(object, $event)">
              </div>
            </td>
            <td>{{object.applicationId}}</td>
            <td>{{util.toLocaleDateString(object.creationDate)}}</td>
            <td>{{object.price | mask: 'separator'}}</td>
            <td>{{object.mortgage?.nameRu}}</td>
            <td>{{object.probabilityOfBidding?.nameRu}}</td>
            <td>{{object.encumbrance?.nameRu}}</td>
            <td>{{object.exchange?.nameRu}}</td>
            <td>{{object.priceAnalytics}}</td>
            <td>{{object.fullName}}</td>
            <td><span *ngIf="object.phone">+7 {{object.phone | mask: '(000) 000-0000'}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
