<div class="card-body">
  <div class="row">
    <button class="btn btn-secondary">Добавить события</button>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <i aria-hidden="true" class="fa fa-eye fa-2x">Показ</i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label for="fillFromAndTo" translate>Дата и время:
          </label>
          <input type="text" id="fillFromAndTo" class="form-control" bsDatepicker #ru="bsDatepicker"/>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm-12">
          <div class="md-form">
            <textarea id="form7" class="md-textarea form-control" rows="1"></textarea>
            <label for="form7">Описание события</label>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="md-form">
            <textarea id="form7" class="md-textarea form-control" rows="1"></textarea>
            <label for="form7">Комментарий</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
