<div class="row w-100"></div>
<div class="row disabled-bottom-margin shadow">
  <div class="col-sm">
    <div class="card">
      <div class="card-header font-weight-bold bg-dark text-white">
        Сотрудники
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <input class="form-control fa" type="text" [(ngModel)]="filter.search"
                   placeholder="&#xf002; Поиск пользователя"
                   aria-label="Search">
          </div>
          <div class="col-sm">
            <ng-select
              placeholder="Роль"
              bindValue="value"
              [items]="roles"
              [(ngModel)]="filter.roles">
            </ng-select>
          </div>
          <div class="col-sm">
            <ng-select
              placeholder="Группа"
              [items]="groups"
              bindValue="value"
              [(ngModel)]="filter.group">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm">
            <mat-button-toggle-group class="float-right">
              <mat-button-toggle class="create-user" (click)="openModal(template); addUser()">
                Создать пользователя
              </mat-button-toggle>
              <mat-button-toggle class="all-users" (click)="findObjects(0)">
                Все пользователи
              </mat-button-toggle>
              <mat-button-toggle class="operation-type color-aqua text-white" (click)="getUserInfo()">
                Поиск пользователя
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row shadow">
  <div class="col-sm">
    <table class="table table-sm">
      <thead class="text-center">
      <tr>
        <th>ID</th>
        <th></th>
        <th class="text-left">Фамилия/Имя</th>
        <th>Контакы</th>
        <th>Роль</th>
        <th>Группа</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <tr *ngFor="let user of users;let i = index">
        <td>{{user.id}}</td>
        <td>
          <span *ngIf="user.info">{{user.info}}</span>
          <img *ngIf="user.ava" [src]="user.ava" class="rounded-circle" style="width: 45px; height: 45px" [alt]=""/>
        </td>
        <td style="color: #00b2a8" class="text-left">{{user.name}} {{user.surname}}</td>
        <td class="contact-info">
          <span *ngIf="user.phone">+7 {{user.phone | mask: '0000000000'}}</span>
          <br/>
          <span class="font-weight-bolder">{{user.email}}</span>
        </td>
        <td style="max-width: 160px;">
          <div *ngFor="let data of user.roles">
            <div class="role" [style]="data == 'Агент' ? 'background-color: #6dc27d' : data == 'Administrator resursa' ? 'background-color: #4b79bb' : 'background-color: #e8ac4b'">
              {{data}}
            </div>
          </div>
        </td>
        <td>{{user.group}}</td>
        <td class="edit-action" (click)="editData(user);openModal(template)">
          <i aria-hidden="true" class="fa fa-pencil"> Редактировать</i>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [(ngModel)]="currentPage"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="10"
                [rotate]="true"
                [boundaryLinks]="true"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="!isEdit">Add user</h4>
    <h4 class="modal-title pull-left" *ngIf="isEdit">Edit user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-sm">
      <label class="col-sm col-form-label">Login<span class="text-danger">&nbsp;*</span></label>
      <input type="text" [disabled]="isEdit" class="col-sm form-control" name="Username"  prefix="+7" mask=' 0000000000' [showMaskTyped]="true" placeHolderCharacter="0"
             [(ngModel)]="formData.login">
    </div>
    <div class="col-sm" *ngIf="!isEdit">
      <label class="col-sm col-form-label">Пароль<span class="text-danger">&nbsp;*</span></label>
      <input type="password" class="col-sm form-control" name="password"
             [(ngModel)]="formData.pass">
    </div>
    <div class="col-sm" *ngIf="isEdit">
      <label class="col-sm col-form-label">Новый пароль<span class="text-danger">&nbsp;*</span></label>
      <input type="password" class="col-sm form-control" name="passNew" [(ngModel)]="formData.passNew">
    </div>
    <div class="col-sm" *ngIf="isEdit">
      <label class="col-sm col-form-label">Подтверждения пароль<span
        class="text-danger">&nbsp;*</span></label>
      <input type="password" class="col-sm form-control" name="passNew2" [(ngModel)]="formData.passNew2">
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Имя<span class="text-danger">&nbsp;*</span></label>
      <input type="text" [disabled]="isEdit" class="col-sm form-control" name="First"
             [(ngModel)]="formData.name">
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Фамилия<span class="text-danger">&nbsp;*</span></label>
      <input type="text" [disabled]="isEdit" class="col-sm form-control" name="Last"
             [(ngModel)]="formData.surname">
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Контакты<span class="text-danger">&nbsp;*</span></label>
      <input type="text" [disabled]="isEdit" class="col-sm form-control" name="phone"
             prefix="+7" mask=' (000)0000000' [showMaskTyped]="true" placeHolderCharacter="0"
             [(ngModel)]="formData.phone">
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Почта<span class="text-danger">&nbsp;*</span></label>
      <input type="email" [disabled]="isEdit" class="col-sm form-control" name="email"
             [(ngModel)]="formData.email">
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Активность <span
        class="text-danger">&nbsp;*</span></label>
      <div class="custom-control custom-checkbox">
        <div class="custom-control custom-radio">
          <input type="radio" id="men" name="isActive" value="true" class="custom-control-input"
                 [(ngModel)]="formData.isActive">
          <label class="custom-control-label" for="men" translate>on</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="women" name="isActive" value="false" class="custom-control-input"
                 [(ngModel)]="formData.isActive">
          <label class="custom-control-label" for="women" translate>off</label>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Роль<span class="text-danger">&nbsp;*</span></label>
      <ng-select
        [multiple]="true"
        bindValue="value"
        [items]="roles"
        [(ngModel)]="formData.roles">
      </ng-select>
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Группа<span class="text-danger">&nbsp;*</span></label>
      <ng-select name="residentialComplexes"
                 placeholder="Группа"
                 [items]="groups"
                 bindValue="value"
                 [(ngModel)]="formData.group">
      </ng-select>
    </div>
    <div class="col-sm">
      <label class="col-sm col-form-label">Организация<span class="text-danger">&nbsp;*</span></label>
      <ng-select name="residentialComplexes"
                 placeholder="Организация"
                 [items]="organizations"
                 bindValue="value"
                 [(ngModel)]="formData.organizationId">
      </ng-select>
    </div>
    <div class="col-sm text-right">
      <button type="button" class="btn btn-primary" (click)="submit()" style="margin: 10px">
        Сохранить
      </button>
      <button type="button" class="btn btn-light" (click)="modalRef.hide()" style="margin: 10px">
        Отмена
      </button>
    </div>
  </div>
</ng-template>
