@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~angular-notifier/styles";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  font-family: 'Cuprum', sans-serif !important;
}
.wrapper {
  height:auto !important;
  min-height:100%;
}
.navbar {
  font-weight: bolder;
  font-size: 18px;
}

.btn-circle.btn-xl {
  width: 70px !important;
  height: 70px !important;;
  padding: 10px 16px !important;;
  border-radius: 35px !important;;
  font-size: 24px !important;;
  line-height: 1.33 !important;;
}

.btn-circle {
  width: 30px !important;;
  height: 30px !important;;
  padding: 6px 0px !important;;
  border-radius: 15px !important;;
  text-align: center !important;;
  font-size: 12px !important;;
  line-height: 1.42857 !important;
}

.required {
  .ng-select {
    .ng-placeholder {
      &:after {
        content: ' *';
        color: red;
      }
    }
  }
}

.form-control {
  height: calc(1.5em + 0.75rem + 0px) !important;
}

/**
/** The Magic **/

/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px !important;;
}

.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px !important;;
}

.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px !important;;
}

app-charts {
  width: 100%;
}

.btn2 {
  width: 200px!important;
  margin: 5px;
}

.disabledDev {
  pointer-events: none !important;
  opacity: 0.6 !important;
}
.disabled {
  pointer-events: none !important;
  opacity: 0.6 !important;
}

.accordion-header {
  height: 50px;
}

.card-body.accordionAboutObject{
  //min-height: 790px!important;
}
.row {
  margin-bottom: 16px;
}
.progress {
  height: .5rem !important;
}

.close:focus {
  border: none!important;
  outline: none!important;
}

fieldset {
  margin: 5px;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px !important;
}

legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}
