.font-up-bold .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.font-up-bold .breadcrumb-item a span::after {
  content: "/";
  margin-left: 1rem;
  color: #868e96;
}

.blockItem {
  width: 150px;
  height: 100%;
  display: block;
}

.boardTitle {
  height: 70px;
}

.card-bg {
  background-color: #f0f7fc;
}
