<div class="card-body card-bg">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="fillClaims-tab" data-toggle="tab" href="#fillClaims" role="tab"
         aria-controls="fillClaims"
         aria-selected="true" translate> claim.title</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contractOU-tab" data-toggle="tab" href="#contractOU" role="tab" aria-controls="contractOU"
         aria-selected="false" translate>claim.contractOU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="impressions-tab" data-toggle="tab" href="#impressions" role="tab"
         aria-controls="impressions"
         aria-selected="false" translate>claim.impressions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="journals-tab" data-toggle="tab" href="#journals" role="tab" aria-controls="journals"
         aria-selected="false" translate>claim.journals</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent" [formGroup]="applicationForm">
    <div class="tab-pane fade show active" id="fillClaims" role="tabpanel" aria-labelledby="fillClaims-tab">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="accordion" id="accordionaboutDeal">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="aboutDeal">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseaboutDeal"
                            aria-expanded="true" aria-controls="collapseaboutDeal" translate>
                      claim.aboutDeal
                    </button>
                    <span *ngIf="applicationForm.id" class="float-right">ID - </span>
                  </h5>
                </div>
                <div id="collapseaboutDeal" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionaboutDeal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <label class="control-labels" translate>claim.operation</label>
                        <span class="text-danger" *ngIf="!applicationForm.operationTypeId">&nbsp;*</span>
                        <div class="row">
                          <div class="col-sm">
                            <ng-select
                              [allowClear]="true"
                              [options]="operationType"
                              class="form-control"
                              [(ngModel)]="applicationForm.operationTypeId"
                              [ngClass]="{'border-danger': !applicationForm.operationTypeId}"
                              formControlName="operationTypeId"
                              placeholder="{{ 'patterns.chooseElement' | translate }}">
                            </ng-select>
                            <div *ngIf="f.operationTypeId.touched && f.operationTypeId.invalid" class="text-danger">
                              <div *ngIf="f.operationTypeId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <label class="control-labels" translate>claim.objectType</label>
                        <span class="text-danger" *ngIf="!applicationForm.objectTypeId">&nbsp;*</span>
                        <div class="row">
                          <div class="col-sm">
                            <ng-select
                              class="form-control"
                              [(ngModel)]="applicationForm.objectTypeId"
                              [ngClass]="{'border-danger': !applicationForm.objectTypeId}"
                              formControlName="objectTypeId"
                              placeholder="{{ 'patterns.chooseElement' | translate }}">
                            </ng-select>
                            <div *ngIf="f.objectTypeId.touched && f.objectTypeId.invalid" class="text-danger">
                              <div *ngIf="f.objectTypeId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <label class="control-labels" translate>claim.objectPriceInLim</label>
                        <span class="text-danger" *ngIf="!applicationForm.objectPriceInLim">&nbsp;*</span>
                        <div class="row">
                          <div class="col-sm">
                            <input type="number" class="form-control" id="objectPrice"
                                   [(ngModel)]="applicationForm.objectPrice"
                                   [ngClass]="{'border-danger': !applicationForm.objectPrice}"
                                   formControlName="objectPrice"
                            />
                            <div *ngIf="f.objectPrice.touched && f.objectPrice.invalid" class="text-danger">
                              <div *ngIf="f.objectPrice.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                        <label class="control-labels" translate>claim.ipoteka</label>
                        <span class="text-danger" *ngIf="!applicationForm.mortgage">&nbsp;*</span>
                        <div class="col-sm">
                          <div class="row">
                            <select class="browser-default custom-select"
                                    [(ngModel)]="applicationForm.mortgage"
                                    [ngClass]="{'border-danger': !applicationForm.mortgage}"
                                    formControlName="mortgage"
                            >
                              <option [ngValue]="null" selected [disabled]="true" translate>patterns.chooseElement
                              </option>
                              <option value="true" translate>yes</option>
                              <option value="false" translate>no</option>
                            </select>
                            <div *ngIf="f.mortgage.touched && f.mortgage.invalid" class="text-danger">
                              <div *ngIf="f.mortgage.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <label class="control-labels" translate>claim.encumbrance</label>
                        <span class="text-danger" *ngIf="!applicationForm.encumbrance">&nbsp;*</span>
                        <div class="col-sm">
                          <div class="row">
                            <select class="browser-default custom-select"
                                    [(ngModel)]="applicationForm.encumbrance"
                                    [ngClass]="{'border-danger': !applicationForm.encumbrance}"
                                    formControlName="encumbrance"
                            >
                              <option [ngValue]="null" selected [disabled]="true" translate>patterns.chooseElement
                              </option>
                              <option value="true" translate>yes</option>
                              <option value="false" translate>no</option>
                            </select>
                            <div *ngIf="f.encumbrance.touched && f.encumbrance.invalid" class="text-danger">
                              <div *ngIf="f.encumbrance.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="control-labels" translate>claim.barter</label>
                        <span class="text-danger" *ngIf="!applicationForm.exchange">&nbsp;*</span>
                        <div class="col-sm">
                          <div class="row">
                            <select class="browser-default custom-select"
                                    [(ngModel)]="applicationForm.exchange"
                                    [ngClass]="{'border-danger': !applicationForm.exchange}"
                                    formControlName="exchange"
                            >
                              <option [ngValue]="null" selected [disabled]="true" translate>patterns.chooseElement
                              </option>
                              <option value="true" translate>yes</option>
                              <option value="false" translate>no</option>
                            </select>
                            <div *ngIf="f.exchange.touched && f.exchange.invalid" class="text-danger">
                              <div *ngIf="f.exchange.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="control-labels" translate>claim.commonOwnership</label>
                        <span class="text-danger" *ngIf="!applicationForm.sharedOwnershipProperty">&nbsp;*</span>
                        <div class="col-sm">
                          <div class="row">
                            <select class="browser-default custom-select"
                                    [(ngModel)]="applicationForm.sharedOwnershipProperty"
                                    [ngClass]="{'border-danger': !applicationForm.sharedOwnershipProperty}"
                                    formControlName="sharedOwnershipProperty"
                            >
                              <option [ngValue]="null" selected [disabled]="true" translate>patterns.chooseElement
                              </option>
                              <option value="true" translate>yes</option>
                              <option value="false" translate>no</option>
                            </select>
                            <div *ngIf="f.sharedOwnershipProperty.touched && f.sharedOwnershipProperty.invalid"
                                 class="text-danger">
                              <div *ngIf="f.sharedOwnershipProperty.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label for="name" class="col-sm-6 col-form-label" translate>claim.probabilityBargaining</label>
                          <div class="col-sm">
                            <div class="row">
                              <select class="browser-default custom-select"
                                      [(ngModel)]="applicationForm.probabilityOfBidding"
                                      formControlName="probabilityOfBidding"
                              >
                                <option [ngValue]="null" selected [disabled]="true" translate>
                                  patterns.chooseElement
                                </option>
                                <option value="true" translate>yes</option>
                                <option value="false" translate>no</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label for="name" class="col-sm-4 col-form-label" translate>claim.bidAmount</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control"
                                   [(ngModel)]="applicationForm.theSizeOfTrades"
                                   formControlName="theSizeOfTrades" min="0"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row">
                        <label for="name" class="col-sm-12 col-form-label" translate>claim.possibleBargaining</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="meet">
                          <label class="custom-control-label" for="meet" translate>claim.theSizeOfTrades.meet</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cashPayment">
                          <label class="custom-control-label" for="cashPayment" translate>claim.theSizeOfTrades.cashPayment</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="lowDemand">
                          <label class="custom-control-label" for="lowDemand" translate>claim.theSizeOfTrades.lowDemand</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="giff">
                          <label class="custom-control-label" for="giff" translate>claim.theSizeOfTrades.giff</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="fastSell">
                          <label class="custom-control-label" for="fastSell" translate>claim.theSizeOfTrades.fastSell</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="mortgageProblems">
                          <label class="custom-control-label" for="mortgageProblems" translate>claim.theSizeOfTrades.mortgageProblems</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="other">
                          <label class="custom-control-label" for="other" translate>claim.theSizeOfTrades.other</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="md-form">
                          <textarea id="form7" class="md-textarea form-control" rows="1"></textarea>
                          <label for="form7" translate>claim.comments</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="accordion" id="accordionaboutOwnerOne">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#aboutOwnerOne"
                            aria-expanded="true" aria-controls="aboutOwnerOne" translate>
                      claim.aboutOwner
                    </button>
                  </h5>
                </div>
                <div id="aboutOwnerOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionaboutOwnerOne">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label for="name" class="col-sm-3 col-form-label" translate>name
                            <span class="text-danger" *ngIf="!applicationForm.sharedOwnershipProperty">&nbsp;*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="name"
                                   [(ngModel)]="applicationForm.firstName"
                                   [ngClass]="{'border-danger': !applicationForm.firstName}"
                                   formControlName="firstName"
                            />
                            <div *ngIf="f.firstName.touched && f.firstName.invalid" class="text-danger">
                              <div *ngIf="f.firstName.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="surname" class="col-sm-3 col-form-label" translate>surname
                            <span class="text-danger" *ngIf="!applicationForm.surname">&nbsp;*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="surname" formControlName="surname"
                                   [(ngModel)]="applicationForm.surname"
                                   [ngClass]="{'border-danger': !applicationForm.surname}"/>
                            <div *ngIf="f.surname.touched && f.surname.invalid" class="text-danger">
                              <div *ngIf="f.surname.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="patronymic" class="col-sm-3 col-form-label" translate>patronymic</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="patronymic"
                                   [(ngModel)]="applicationForm.patronymic"
                                   formControlName="patronymic"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="clientID" class="col-sm-3 col-form-label" translate>claim.clientID
                            <span class="text-danger" *ngIf="!applicationForm.clientId">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="clientID"
                                   [(ngModel)]="applicationForm.clientId"
                                   [ngClass]="{'border-danger': !applicationForm.clientId}"
                                   formControlName="clientId"
                            />
                            <div *ngIf="f.clientId.touched && f.clientId.invalid" class="text-danger">
                              <div *ngIf="f.clientId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label for="contacts" class="col-sm-3 col-form-label" translate>claim.contacts
                            <span class="text-danger" *ngIf="!applicationForm.phoneNumber">*</span>
                          </label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="contacts"
                                   [(ngModel)]="applicationForm.phoneNumber"
                                   [ngClass]="{'border-danger': !applicationForm.phoneNumber}"
                                   formControlName="phoneNumber"
                                   prefix="+7" mask="(000) 000 00 00"
                            />
                            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="text-danger">
                              <div *ngIf="f.phoneNumber.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="email" class="col-sm-3 col-form-label" translate>claim.email</label>
                          <div class="col-sm-9">
                            <input type="email" class="form-control" id="email"
                                   [(ngModel)]="applicationForm.email"
                                   formControlName="email"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" translate>gender</label>
                          <div class="col-sm-9">
                            <select class="browser-default custom-select"
                                    [(ngModel)]="applicationForm.gender"
                                    formControlName="gender"
                            >
                              <option [ngValue]="null" selected [disabled]="true" translate>patterns.chooseElement
                              </option>
                              <option value="male" translate>claim.gender.male</option>
                              <option value="female" translate>claim.gender.female</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="applicationForm.operationTypeId">
                      <fieldset class="scheduler-border col-sm">
                        <legend class="scheduler-border" translate>claim.photo</legend>
                        <div class="row">
                          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                              <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle"
                                      data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false" translate>
                                claim.photo
                              </button>
                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" translate>claim.uploadPhoto</a>
                                <a class="dropdown-item" translate>claim.uploadPlan</a>
                                <a class="dropdown-item" translate>claim.upload3D</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <h5 translate>claim.photoLegend</h5>
                        </div>
                        <div class="row">
                          <div class="col-sm-4" translate>claim.photoset</div>
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" translate>claim.createPhotoset</button>
                          </div>
                          <div class="col-sm-4">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                              <label class="custom-control-label" for="defaultUnchecked"
                                     translate>claim.isSendPhotoset</label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm">
            <div class="accordion" id="accordionAboutObject">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="aboutObjectOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" translate>
                      claim.aboutObject
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="aboutObjectOne"
                     data-parent="#accordionAboutObject">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm">
                            <div class="form-group row">
                              <label for="name" class="col-sm-3 col-form-label" translate>claim.city
                                <span class="text-danger" *ngIf="!applicationForm.cityId">*</span>
                              </label>
                              <div class="col-sm-9">
                                <ng-select
                                  class="form-control"
                                  [(ngModel)]="applicationForm.cityId"
                                  [ngClass]="{'border-danger': !applicationForm.cityId}"
                                  formControlName="cityId"
                                  placeholder="{{ 'patterns.chooseElement' | translate }}">
                                </ng-select>
                                <div *ngIf="f.cityId.touched && f.cityId.invalid" class="text-danger">
                                  <div *ngIf="f.cityId.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm">
                            <div class="form-group row">
                              <label for="name" class="col-sm-4 col-form-label" translate>claim.building
                              </label>
                              <div class="col-sm-8">
                                <ng-select
                                  class="form-control"
                                  [(ngModel)]="applicationForm.residentialComplexId"
                                  formControlName="residentialComplexId">
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm">
                            <div class="form-group row">
                              <label for="name" class="col-sm-3 col-form-label" translate>claim.street
                                <span class="text-danger" *ngIf="!applicationForm.streetId">*</span>
                              </label>
                              <div class="col-sm-9">
                                <ng-select
                                  class="form-control"
                                  [(ngModel)]="applicationForm.streetId"
                                  [ngClass]="{'border-danger': !applicationForm.streetId}"
                                  formControlName="streetId"
                                  placeholder="{{ 'patterns.chooseElement' | translate }}">
                                </ng-select>
                                <div *ngIf="f.streetId.touched && f.streetId.invalid" class="text-danger">
                                  <div *ngIf="f.streetId.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm">
                            <div class="form-group row">
                              <label for="name" class="col-sm-4 col-form-label" translate>claim.numberHouse
                                <span class="text-danger" *ngIf="!applicationForm.houseNumber">*</span>
                              </label>
                              <div class="col-sm-8">
                                <ng-select
                                  class="form-control"
                                  [(ngModel)]="applicationForm.houseNumber"
                                  [ngClass]="{'border-danger': !applicationForm.houseNumber}"
                                  formControlName="houseNumber"
                                  placeholder="{{ 'patterns.chooseElement' | translate }}">
                                </ng-select>
                                <div *ngIf="f.houseNumber.touched && f.houseNumber.invalid" class="text-danger">
                                  <div *ngIf="f.houseNumber.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm">
                            <div class="form-group row">
                              <label for="name" class="col-sm-3 col-form-label" translate>claim.roomCount
                                <span class="text-danger" *ngIf="!applicationForm.numberOfRooms">*</span>
                              </label>
                              <div class="col-sm-9">
                                <ng-select
                                  class="form-control"
                                  [(ngModel)]="applicationForm.numberOfRooms"
                                  [ngClass]="{'border-danger': !applicationForm.numberOfRooms}"
                                  formControlName="numberOfRooms"
                                  placeholder="{{ 'patterns.chooseElement' | translate }}">
                                </ng-select>
                                <div *ngIf="f.numberOfRooms.touched && f.numberOfRooms.invalid" class="text-danger">
                                  <div *ngIf="f.numberOfRooms.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.quadrature</legend>
                            <div class="row">
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.square</label>
                                <span class="text-danger" *ngIf="!applicationForm.totalArea">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.totalArea"
                                           [ngClass]="{'border-danger': !applicationForm.totalArea}"
                                           formControlName="totalArea" min="0"
                                    />
                                    <div *ngIf="f.totalArea.touched && f.totalArea.invalid" class="text-danger">
                                      <div *ngIf="f.totalArea.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.live</label>
                                <span class="text-danger" *ngIf="!applicationForm.livingArea">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.livingArea"
                                           [ngClass]="{'border-danger': !applicationForm.totalArea}"
                                           formControlName="totalArea" min="0"
                                    />
                                    <div *ngIf="f.livingArea.touched && f.livingArea.invalid" class="text-danger">
                                      <div *ngIf="f.livingArea.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.kitchen</label>
                                <span class="text-danger" *ngIf="!applicationForm.kitchen">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.kitchenArea"
                                           [ngClass]="{'border-danger': !applicationForm.kitchenArea}"
                                           formControlName="kitchenArea" min="0"
                                    />
                                    <div *ngIf="f.kitchenArea.touched && f.kitchenArea.invalid" class="text-danger">
                                      <div *ngIf="f.kitchenArea.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.balcony</label>
                                <span class="text-danger" *ngIf="!applicationForm.balcony">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.balconyArea"
                                           [ngClass]="{'border-danger': !applicationForm.balconyArea}"
                                           formControlName="balconyArea" min="0"
                                    />
                                    <div *ngIf="f.balconyArea.touched && f.balconyArea.invalid" class="text-danger">
                                      <div *ngIf="f.balconyArea.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.heightWall</label>
                                <span class="text-danger" *ngIf="!applicationForm.heightWall">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.ceilingHeight"
                                           [ngClass]="{'border-danger': !applicationForm.ceilingHeight}"
                                           formControlName="ceilingHeight" min="0"
                                    />
                                    <div *ngIf="f.ceilingHeight.touched && f.ceilingHeight.invalid" class="text-danger">
                                      <div *ngIf="f.ceilingHeight.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm">
                                <label class="control-labels" translate>claim.badRoomCount</label>
                                <span class="text-danger" *ngIf="!applicationForm.numberOfBedrooms">*</span>
                                <div class="row">
                                  <div class="col-sm">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.numberOfBedrooms"
                                           [ngClass]="{'border-danger': !applicationForm.numberOfBedrooms}"
                                           formControlName="numberOfBedrooms" min="0"
                                    />
                                    <div *ngIf="f.numberOfBedrooms.touched && f.numberOfBedrooms.invalid"
                                         class="text-danger">
                                      <div *ngIf="f.numberOfBedrooms.errors.required" translate>claim.requiredField
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="col-sm">
                                  <label class="control-labels" translate>claim.studio</label>
                                  <div class="row">
                                    <div class="col-sm">
                                      <input type="checkbox" class="form-control"
                                             [(ngModel)]="applicationForm.atelier"
                                             formControlName="atelier"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="col-sm">
                                  <label class="control-labels" translate>claim.separateBathroom</label>
                                  <div class="row">
                                    <div class="col-sm">
                                      <input type="checkbox" class="form-control"
                                             [(ngModel)]="applicationForm.separateBathroom"
                                             formControlName="separateBathroom"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.characterHouse</legend>
                            <div class="row">
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-5 col-form-label" translate>claim.district
                                    <span class="text-danger" *ngIf="!applicationForm.districtId">*</span>
                                  </label>
                                  <div class="col-sm-7">
                                    <ng-select
                                      class="form-control"
                                      [(ngModel)]="applicationForm.districtId"
                                      [ngClass]="{'border-danger': !applicationForm.districtId}"
                                      formControlName="districtId"
                                      placeholder="{{ 'patterns.chooseElement' | translate }}">
                                    </ng-select>
                                    <div *ngIf="f.districtId.touched && f.districtId.invalid" class="text-danger">
                                      <div *ngIf="f.districtId.errors.required" translate>claim.requiredField</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-7 col-form-label" translate>claim.flatHouse
                                    <span class="text-danger" *ngIf="!applicationForm.numberOfFloors">*</span>
                                  </label>
                                  <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           [(ngModel)]="applicationForm.numberOfFloors"
                                           formControlName="numberOfFloors"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-7 col-form-label" translate>claim.appInFlat</label>
                                  <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           [(ngModel)]="applicationForm.apartmentsOnTheSite"
                                           formControlName="apartmentsOnTheSite"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-5 col-form-label" translate>claim.material</label>
                                  <div class="col-sm-7">
                                    <ng-select
                                      class="form-control"
                                      [(ngModel)]="applicationForm.materialOfConstruction"
                                      formControlName="materialOfConstruction"
                                      placeholder="{{ 'patterns.chooseElement' | translate }}">
                                    </ng-select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-7 col-form-label" translate>claim.buildYear</label>
                                  <div class="col-sm-5">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="applicationForm.yearOfConstruction"
                                           formControlName="yearOfConstruction"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-7 col-form-label" translate>claim.lift</label>
                                  <div class="col-sm-5">
                                    <ng-select
                                      class="form-control"
                                      [(ngModel)]="applicationForm.typeOfElevator"
                                      formControlName="typeOfElevator"
                                      placeholder="{{ 'patterns.chooseElement' | translate }}">
                                    </ng-select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.porch</legend>
                            <div class="row">
                              <div class="col-sm">
                                <label class="col-sm col-form-label" translate>claim.concierge</label>
                                <div class="col-sm">
                                  <div class="row">
                                    <select class="browser-default custom-select"
                                            [(ngModel)]="applicationForm.concierge"
                                            formControlName="concierge"
                                    >
                                      <option [ngValue]="null" selected [disabled]="true" translate>
                                        patterns.chooseElement
                                      </option>
                                      <option value="true" translate>yes</option>
                                      <option value="false" translate>no</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="col-sm col-form-label" translate>claim.stroller</label>
                                <div class="col-sm">
                                  <div class="row">
                                    <select class="browser-default custom-select"
                                            [(ngModel)]="applicationForm.wheelchair"
                                            formControlName="wheelchair"
                                    >
                                      <option [ngValue]="null" selected [disabled]="true" translate>
                                        patterns.chooseElement
                                      </option>
                                      <option value="true" translate>yes</option>
                                      <option value="false" translate>no</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.territory</legend>
                            <div class="row">
                              <div class="col-sm">
                                <label class="col-sm-6 col-form-label" translate>claim.parking</label>
                                <div class="col-sm-10">
                                  <div class="row">
                                    <select class="browser-default custom-select" multiple
                                            [(ngModel)]="applicationForm.parkingTypeId"
                                            formControlName="parkingTypeId"
                                    >
                                      <option [ngValue]="null" selected [disabled]="true" translate>
                                        patterns.chooseElement
                                      </option>
                                      <option value="1" translate>claim.withoutParking</option>
                                      <option value="2" translate>claim.overgroundParking</option>
                                      <option value="3" translate>claim.undergroundParking</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="col-sm col-form-label" translate>claim.yard</label>
                                <div class="col-sm">
                                  <div class="row">
                                    <select class="browser-default custom-select"
                                            [(ngModel)]="applicationForm.yardType"
                                            formControlName="yardType"
                                    >
                                      <option [ngValue]="null" selected [disabled]="true" translate>
                                        patterns.chooseElement
                                      </option>
                                      <option value="OPEN" translate>claim.opened</option>
                                      <option value="PRIVATE" translate>claim.closing</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <label class="col-sm col-form-label" translate>claim.childYard</label>
                                <div class="col-sm">
                                  <div class="row">
                                    <select class="browser-default custom-select"
                                            [(ngModel)]="applicationForm.playground"
                                            formControlName="playground"
                                    >
                                      <option [ngValue]="null" selected [disabled]="true" translate>
                                        patterns.chooseElement
                                      </option>
                                      <option value="true" translate>yes</option>
                                      <option value="false" translate>no</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contractOU" role="tabpanel" aria-labelledby="contractOU-tab">
      2
    </div>
    <div class="tab-pane fade" id="impressions" role="tabpanel" aria-labelledby="impressions-tab">
      3
    </div>
    <div class="tab-pane fade" id="journals" role="tabpanel" aria-labelledby="journals-tab">
      3
    </div>
  </div>

  <div class="row">
    <div class="col-sm">

      <button type="button" mdbBtn color="success" class="btn btn-sm btn-info" style="width: 200px; float: right"
              mdbWavesEffect (click)="submit()">
        <span class="fa fa-save" translate> claim.saveClaim</span>
      </button>
      <button type="button" class="btn btn-sm btn-success" style="width: 200px;float: right" translate>
        claim.generateContract
      </button>
    </div>
  </div>
</div>
