<div class="card-body card-bg">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="fillClaims-tab" data-toggle="tab" href="#fillClaims" role="tab"
         aria-controls="fillClaims"
         aria-selected="true" translate> claim.title</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contractOU-tab" data-toggle="tab" href="#contractOU" role="tab" aria-controls="contractOU"
         aria-selected="false" translate>claim.contractOU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="impressions-tab" data-toggle="tab" href="#impressions" role="tab"
         aria-controls="impressions"
         aria-selected="false" translate>claim.impressions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="journals-tab" data-toggle="tab" href="#journals" role="tab" aria-controls="journals"
         aria-selected="false" translate>claim.journals</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent" [formGroup]="applicationForm">
    <div class="tab-pane fade show active" id="fillClaims" role="tabpanel" aria-labelledby="fillClaims-tab">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="accordion" id="accordionaboutDeal">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="aboutDeal">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseaboutDeal"
                            aria-expanded="true" aria-controls="collapseaboutDeal" translate>
                      claim.aboutDeal
                    </button>
                    <span *ngIf="applicationForm.id" class="float-right">ID - </span>
                  </h5>
                </div>
                <div id="collapseaboutDeal" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionaboutDeal">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm form-group required">
                        <ng-select
                          [items]="operationType"
                          [(ngModel)]="applicationForm.operationTypeId"
                          formControlName="operationTypeId"
                          #operationTypeId
                          placeholder="{{'claim.operation' | translate}}">
                        </ng-select>
                        <div *ngIf="f.operationTypeId.touched && f.operationTypeId.invalid" class="text-danger">
                          <div *ngIf="f.operationTypeId.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm form-group required">
                        <ng-select
                          [items]="objectType"
                          [(ngModel)]="applicationForm.objectTypeId"
                          formControlName="objectTypeId"
                          placeholder="{{ 'claim.objectType' | translate }}">
                        </ng-select>
                        <div *ngIf="f.objectTypeId.touched && f.objectTypeId.invalid" class="text-danger">
                          <div *ngIf="f.objectTypeId.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="form1" class="form-control"
                                 [(ngModel)]="applicationForm.objectPrice" formControlName="objectPrice" min="0">
                          <label for="form1" translate>claim.objectPriceInLim
                            <span class="text-danger" *ngIf="!applicationForm.objectPrice">&nbsp;*</span>
                          </label>
                        </div>
                        <div *ngIf="f.objectPrice.touched && f.objectPrice.invalid" class="text-danger">
                          <div *ngIf="f.objectPrice.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm form-group required">
                        <ng-select
                          [items]="dicDynamic"
                          [(ngModel)]="applicationForm.mortgage"
                          formControlName="mortgage"
                          placeholder="{{ 'claim.ipoteka' | translate }}">
                        </ng-select>
                        <div *ngIf="f.mortgage.touched && f.mortgage.invalid" class="text-danger">
                          <div *ngIf="f.mortgage.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm form-group required" *ngIf="applicationForm.operationTypeId?.code == '001002'">
                        <ng-select
                          [items]="dicDynamic"
                          [(ngModel)]="applicationForm.encumbrance"
                          formControlName="encumbrance"
                          placeholder="{{ 'claim.encumbrance' | translate }}">
                        </ng-select>
                        <div *ngIf="f.encumbrance.touched && f.encumbrance.invalid" class="text-danger">
                          <div *ngIf="f.encumbrance.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="applicationForm.operationTypeId?.code == '001002'">
                      <div class="col-sm form-group required" *ngIf="applicationForm.operationTypeId?.code == '001002'">
                        <ng-select
                          [items]="dicDynamic"
                          [(ngModel)]="applicationForm.exchange"
                          formControlName="encumbrance"
                          placeholder="{{ 'claim.barter' | translate }}">
                        </ng-select>
                        <div *ngIf="f.exchange.touched && f.exchange.invalid" class="text-danger">
                          <div *ngIf="f.exchange.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm form-group required" *ngIf="applicationForm.operationTypeId?.code == '001002'">
                        <ng-select
                          [items]="dicDynamic"
                          [(ngModel)]="applicationForm.sharedOwnershipProperty"
                          formControlName="sharedOwnershipProperty"
                          placeholder="{{ 'claim.commonOwnership' | translate }}">
                        </ng-select>
                        <div *ngIf="f.sharedOwnershipProperty.touched && f.sharedOwnershipProperty.invalid"
                             class="text-danger">
                          <div *ngIf="f.sharedOwnershipProperty.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <ng-select
                          [items]="dicDynamic"
                          [(ngModel)]="applicationForm.probabilityOfBidding"
                          formControlName="probabilityOfBidding"
                          placeholder="{{ 'claim.probabilityBargaining' | translate }}">
                        </ng-select>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="number" class="form-control"
                                 [(ngModel)]="applicationForm.theSizeOfTrades"
                                 formControlName="theSizeOfTrades" min="0"/>
                          <label for="form1" translate>claim.bidAmount</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <ng-select
                          [multiple]="true"
                          [items]="possibleReasonForBidding"
                          [(ngModel)]="applicationForm.possibleReasonForBiddingId"
                          formControlName="possibleReasonForBiddingId"
                          placeholder="{{ 'claim.possibleBargaining' | translate }}">
                        </ng-select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="md-form">
                          <textarea id="form7" class="md-textarea form-control" rows="1"
                                    [(ngModel)]="applicationForm.note" formControlName="note"></textarea>
                          <label for="form7" translate>claim.comments</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="fillFromAndTo" class="form-control" bsDatepicker #ru="bsDatepicker"/>
                          <label for="fillFromAndTo">Срок действия договора</label>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="fillFromAnd" class="form-control" bsDatepicker #ru="bsDatepicker"/>
                          <label for="fillFromAnd" translate>Сумма по договору</label>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                          <label class="custom-control-label" for="defaultUnchecked">Комиссия включена в
                            стоимость</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="accordion" id="accordionaboutOwnerOne">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#aboutOwnerOne"
                            aria-expanded="true" aria-controls="aboutOwnerOne" translate>
                      claim.aboutOwner
                    </button>
                  </h5>
                </div>
                <div id="aboutOwnerOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionaboutOwnerOne">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="firstName" class="form-control" [(ngModel)]="applicationForm.firstName"
                                 formControlName="firstName"/>
                          <label for="firstName" translate>name <span class="text-danger"
                                                                      *ngIf="!applicationForm.firstName">&nbsp;*</span></label>
                        </div>
                        <div *ngIf="f.firstName.touched && f.firstName.invalid" class="text-danger">
                          <div *ngIf="f.firstName.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="surname" class="form-control" [(ngModel)]="applicationForm.surname"
                                 formControlName="surname"/>
                          <label for="firstName" translate>surname <span class="text-danger"
                                                                         *ngIf="!applicationForm.surname">&nbsp;*</span></label>
                        </div>
                        <div *ngIf="f.surname.touched && f.surname.invalid" class="text-danger">
                          <div *ngIf="f.surname.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="patronymic" class="form-control"
                                 [(ngModel)]="applicationForm.patronymic"
                                 formControlName="patronymic"/>
                          <label for="firstName" translate>patronymic</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm" *ngIf="applicationForm.clientId">
                        <div class="md-form">
                          <input type="text" id="clientId" class="form-control" [(ngModel)]="applicationForm.clientId"
                                 formControlName="clientId" readonly (ngModelChange)="searchByClientId()"/>
                          <label for="clientId" translate>claim.clientID <span class="text-danger"
                                                                               *ngIf="!applicationForm.clientId">&nbsp;*</span></label>
                        </div>
                      </div>

                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="phoneNumber" class="form-control"
                                 [(ngModel)]="applicationForm.phoneNumber"
                                 formControlName="phoneNumber" prefix="+7" mask="(000) 000 00 00"
                                 (ngModelChange)="searchByPhone()"/>
                          <label for="contacts" translate>claim.contacts <span class="text-danger"
                                                                               *ngIf="!applicationForm.phoneNumber">&nbsp;*</span></label>
                        </div>
                        <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="text-danger">
                          <div *ngIf="f.phoneNumber.errors.required" translate>claim.requiredField</div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="md-form">
                          <input type="text" id="email" class="form-control" [(ngModel)]="applicationForm.email"
                                 formControlName="email"/>
                          <label for="firstName" translate>claim.email</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <label translate>gender</label>
                        <div class="custom-control custom-checkbox">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="men" name="gender" value="MALE" class="custom-control-input"
                                   [(ngModel)]="applicationForm.gender" formControlName="gender">
                            <label class="custom-control-label" for="men" translate>men</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="women" name="gender" value="FEMALE" class="custom-control-input"
                                   [(ngModel)]="applicationForm.gender" formControlName="gender">
                            <label class="custom-control-label" for="women" translate>women</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="applicationForm.operationTypeId">
                      <fieldset class="scheduler-border col-sm">
                        <legend class="scheduler-border" translate>claim.photo</legend>
                        <div class="row">

                          <label class="btn btn-info btn-sm" translate>claim.uploadPhoto
                            <i class="fa fa-upload"></i>
                            <input type="file" hidden (change)="onFileChanged($event)">
                          </label>

                          <label class="btn btn-info btn-sm" translate>claim.uploadPlan
                            <i class="fa fa-upload"></i>
                            <input type="file" hidden (change)="onFileChanged($event)">
                          </label>

                          <label class="btn btn-info btn-sm" translate>claim.upload3D
                            <i class="fa fa-upload"></i>
                            <input type="file" hidden (change)="onFileChanged($event)">
                          </label>

                        </div>
                        <!--                        <div class="row">-->
                        <!--                          <div class="col-md-2 text-right">-->
                        <!--                            <div href="#" class="site-statement__upload-block" hidden="{{objectPhoto}}">-->
                        <!--                              <i class="fa fa-user-circle-o fa-5x"></i>-->
                        <!--                            </div>-->

                        <!--                            <img class="avatar" src="data:image/png;base64,{{objectPhoto}}" *ngIf="objectPhoto"-->
                        <!--                                 alt="resumePhoto"/>-->
                        <!--                          </div>-->
                        <!--                        </div>-->
                        <div class="row">
                          <!--Carousel Wrapper-->
                          <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Controls-->
                            <div class="controls-top text-center">
                              <a class="btn-floating" href="#carousel-with-lb" data-slide="prev">
                                <i class="fa fa-chevron-left text-secondary"></i></a>
                              <a class="btn-floating" href="#carousel-with-lb" data-slide="next">
                                <i class="fa fa-chevron-right text-secondary"></i></a>
                            </div>

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
                              <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
                              <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides and lightbox-->

                            <div class="carousel-inner mdb-lightbox" role="listbox">
                              <div id="mdb-lightbox-ui"></div>
                              <!--First slide-->
                              <div class=" carousel-item active text-center">

                                <figure class="col-md-4 d-md-inline-block">
                                  <a
                                    data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg"
                                         class="img-fluid"
                                         (click)="showPhotoFull('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg')">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>
                              </div>
                              <!--/.First slide-->

                              <!--Second slide-->
                              <div class="carousel-item text-center">

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                              </div>
                              <!--/.Second slide-->

                              <!--Third slide-->
                              <div class="carousel-item text-center">

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>

                                <figure class="col-md-4 d-md-inline-block">
                                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
                                     data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
                                         class="img-fluid">
                                  </a>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <h5 translate>claim.photoLegend</h5>
                        </div>
                        <div class="row">
                          <div class="col-sm-4" translate>claim.photoset</div>
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" translate>claim.createPhotoset</button>
                          </div>
                          <div class="col-sm-4">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                              <label class="custom-control-label" for="defaultUnchecked"
                                     translate>claim.isSendPhotoset</label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row" *ngIf="applicationForm.operationTypeId?.code == '001002'">
          <div class="col-sm">
            <div class="accordion" id="accordionAboutObject">
              <div class="card z-depth-0 bordered">
                <div class="card-header" id="aboutObjectOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" translate>
                      claim.aboutObject
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="aboutObjectOne"
                     data-parent="#accordionAboutObject">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm form-group required">
                            <ng-select
                              [items]="dicDynamic"
                              [(ngModel)]="applicationForm.cityId"
                              formControlName="cityId"
                              placeholder="{{ 'claim.city' | translate }}">
                            </ng-select>
                            <div *ngIf="f.cityId.touched && f.cityId.invalid" class="text-danger">
                              <div *ngIf="f.cityId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                          <div class="col-sm form-group required">
                            <ng-select
                              [items]="residentialComplexes"
                              [(ngModel)]="applicationForm.residentialComplexId"
                              (ngModelChange)="setResidenceComplexType($event)"
                              formControlName="residentialComplexId"
                              placeholder="{{ 'claim.building' | translate }}">
                            </ng-select>
                            <div *ngIf="f.residentialComplexId.touched && f.residentialComplexId.invalid"
                                 class="text-danger">
                              <div *ngIf="f.residentialComplexId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm form-group required">
                            <ng-select
                              [items]="streets"
                              [(ngModel)]="applicationForm.streetId"
                              formControlName="streetId"
                              placeholder="{{ 'claim.street' | translate }}">
                            </ng-select>
                            <div *ngIf="f.streetId.touched && f.streetId.invalid" class="text-danger">
                              <div *ngIf="f.streetId.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                          <div class="col-sm form-group required">
                            <ng-select
                              [items]="dicDynamic"
                              [(ngModel)]="applicationForm.houseNumber"
                              formControlName="houseNumber"
                              placeholder="{{ 'claim.numberHouse' | translate }}">
                            </ng-select>
                            <div *ngIf="f.houseNumber.touched && f.houseNumber.invalid" class="text-danger">
                              <div *ngIf="f.houseNumber.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                          <div class="col-sm form-group required">
                            <ng-select
                              [items]="dicDynamic"
                              [(ngModel)]="applicationForm.numberOfRooms"
                              formControlName="numberOfRooms"
                              placeholder="{{ 'claim.roomCount' | translate }}">
                            </ng-select>
                            <div *ngIf="f.numberOfRooms.touched && f.numberOfRooms.invalid" class="text-danger">
                              <div *ngIf="f.numberOfRooms.errors.required" translate>claim.requiredField</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <fieldset class="scheduler-border col-sm">
                            <legend class="scheduler-border" translate>claim.quadrature</legend>
                            <div class="row">
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="square" class="form-control"
                                         [(ngModel)]="applicationForm.totalArea"
                                         formControlName="totalArea" min="0"/>
                                  <label for="square" translate>claim.square <span class="text-danger"
                                                                                   *ngIf="!applicationForm.totalArea">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.totalArea.touched && f.totalArea.invalid" class="text-danger">
                                  <div *ngIf="f.totalArea.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="livingArea" class="form-control"
                                         [(ngModel)]="applicationForm.livingArea"
                                         formControlName="livingArea" min="0"/>
                                  <label for="livingArea" translate>claim.live <span class="text-danger"
                                                                                     *ngIf="!applicationForm.livingArea">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.livingArea.touched && f.livingArea.invalid" class="text-danger">
                                  <div *ngIf="f.livingArea.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="kitchenArea" class="form-control"
                                         [(ngModel)]="applicationForm.kitchenArea"
                                         formControlName="kitchenArea" min="0"/>
                                  <label for="kitchenArea" translate>claim.kitchen <span class="text-danger"
                                                                                         *ngIf="!applicationForm.kitchenArea">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.kitchenArea.touched && f.kitchenArea.invalid" class="text-danger">
                                  <div *ngIf="f.kitchenArea.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="balconyArea" class="form-control"
                                         [(ngModel)]="applicationForm.balconyArea"
                                         formControlName="balconyArea" min="0"/>
                                  <label for="balconyArea" translate>claim.balcony <span class="text-danger"
                                                                                         *ngIf="!applicationForm.balconyArea">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.balconyArea.touched && f.balconyArea.invalid" class="text-danger">
                                  <div *ngIf="f.balconyArea.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="ceilingHeight" class="form-control"
                                         [(ngModel)]="applicationForm.ceilingHeight"
                                         formControlName="ceilingHeight" min="0"/>
                                  <label for="ceilingHeight" translate>claim.heightWall <span class="text-danger"
                                                                                              *ngIf="!applicationForm.ceilingHeight">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.ceilingHeight.touched && f.ceilingHeight.invalid" class="text-danger">
                                  <div *ngIf="f.ceilingHeight.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="numberOfBedrooms" class="form-control"
                                         [(ngModel)]="applicationForm.numberOfBedrooms"
                                         formControlName="numberOfBedrooms" min="0"/>
                                  <label for="numberOfBedrooms" translate>claim.badRoomCount <span class="text-danger"
                                                                                                   *ngIf="!applicationForm.numberOfBedrooms">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.numberOfBedrooms.touched && f.numberOfBedrooms.invalid"
                                     class="text-danger">
                                  <div *ngIf="f.numberOfBedrooms.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="col-sm">
                                  <label class="control-labels" translate>claim.studio</label>
                                  <div class="row">
                                    <div class="col-sm">
                                      <input type="checkbox" class="form-control"
                                             [(ngModel)]="applicationForm.atelier"
                                             formControlName="atelier"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="col-sm">
                                  <label class="control-labels" translate>claim.separateBathroom</label>
                                  <div class="row">
                                    <div class="col-sm">
                                      <input type="checkbox" class="form-control"
                                             [(ngModel)]="applicationForm.separateBathroom"
                                             formControlName="separateBathroom"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.characterHouse</legend>
                            <div class="row">
                              <div class="col-sm form-group required">
                                <ng-select
                                  [items]="districts"
                                  [(ngModel)]="applicationForm.districtId"
                                  formControlName="districtId"
                                  placeholder="{{ 'claim.district' | translate }}">
                                </ng-select>
                                <div *ngIf="f.districtId.touched && f.districtId.invalid" class="text-danger">
                                  <div *ngIf="f.districtId.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="numberOfFloors" class="form-control"
                                         [(ngModel)]="applicationForm.numberOfFloors"
                                         formControlName="numberOfFloors" min="0"/>
                                  <label for="numberOfFloors" translate>claim.flatHouse <span class="text-danger"
                                                                                              *ngIf="!applicationForm.numberOfFloors">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.numberOfFloors.touched && f.numberOfFloors.invalid" class="text-danger">
                                  <div *ngIf="f.numberOfFloors.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="apartmentsOnTheSite" class="form-control"
                                         [(ngModel)]="applicationForm.apartmentsOnTheSite"
                                         formControlName="numberOfFloors" min="1"/>
                                  <label for="apartmentsOnTheSite" translate>claim.appInFlat <span class="text-danger"
                                                                                                   *ngIf="!applicationForm.apartmentsOnTheSite">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.apartmentsOnTheSite.touched && f.apartmentsOnTheSite.invalid"
                                     class="text-danger">
                                  <div *ngIf="f.apartmentsOnTheSite.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.materialOfConstruction"
                                  formControlName="districtId"
                                  placeholder="{{ 'claim.material' | translate }}">
                                </ng-select>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <input type="number" id="yearOfConstruction" class="form-control"
                                         [(ngModel)]="applicationForm.yearOfConstruction"
                                         formControlName="yearOfConstruction" min="1"/>
                                  <label for="yearOfConstruction" translate>claim.buildYear <span class="text-danger"
                                                                                                  *ngIf="!applicationForm.yearOfConstruction">&nbsp;*</span></label>
                                </div>
                                <div *ngIf="f.yearOfConstruction.touched && f.yearOfConstruction.invalid"
                                     class="text-danger">
                                  <div *ngIf="f.yearOfConstruction.errors.required" translate>claim.requiredField</div>
                                </div>
                              </div>
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.typeOfElevator"
                                  formControlName="typeOfElevator"
                                  placeholder="{{ 'claim.lift' | translate }}">
                                </ng-select>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.porch</legend>
                            <div class="row">
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.concierge"
                                  formControlName="concierge"
                                  placeholder="{{ 'claim.concierge' | translate }}">
                                </ng-select>
                              </div>
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.wheelchair"
                                  formControlName="wheelchair"
                                  placeholder="{{ 'claim.stroller' | translate }}">
                                </ng-select>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="row">
                          <fieldset class="scheduler-border col-sm-11">
                            <legend class="scheduler-border" translate>claim.territory</legend>
                            <div class="row">
                              <div class="col-sm">
                                <ng-select
                                  [items]="parkingTypes"
                                  [(ngModel)]="applicationForm.parkingTypeId"
                                  formControlName="parkingTypeId"
                                  placeholder="{{ 'claim.parking' | translate }}">
                                </ng-select>
                              </div>
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.yardType"
                                  formControlName="yardType"
                                  placeholder="{{ 'claim.yard' | translate }}">
                                </ng-select>
                              </div>
                              <div class="col-sm">
                                <ng-select
                                  [items]="materials"
                                  [(ngModel)]="applicationForm.playground"
                                  formControlName="playground"
                                  placeholder="{{ 'claim.childYard' | translate }}">
                                </ng-select>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contractOU" role="tabpanel" aria-labelledby="contractOU-tab">
      2
    </div>
    <div class="tab-pane fade" id="impressions" role="tabpanel" aria-labelledby="impressions-tab">
      3
    </div>
    <div class="tab-pane fade" id="journals" role="tabpanel" aria-labelledby="journals-tab">
      3
    </div>
  </div>

  <div class="row">
    <div class="col-sm">

      <button type="button" mdbBtn color="success" class="btn btn-sm btn-info" style="width: 200px; float: right"
              mdbWavesEffect (click)="submit()">
        <span class="fa fa-save" translate> claim.saveClaim</span>
      </button>
      <button type="button" class="btn btn-sm btn-success" style="width: 200px;float: right" translate>
        claim.generateContract
      </button>
    </div>
  </div>
</div>

<show-image [show]="showModalWin" [act]="image" (onHide)="showModalWin"></show-image>
