<div class="card">
  <div class="card-body" [formGroup]="eventsForm">
    <div class="row" >
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <i aria-hidden="true" class="fa fa-eye fa-2x">Встреча</i>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label for="fillFromAndTo" translate>Дата и Время:</label>
            <input type="text" id="fillFromAndTo" formControlName="eventDate"
                   [minDate]="today"
                   (ngModelChange)="setDateTime()" class="form-control" bsDatepicker #ru="bsDatepicker"/>

          </div>
          <div class="col-sm">
            <ngb-timepicker formControlName="time" (ngModelChange)="setDateTime()"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <label >Описание события</label>
              <textarea formControlName="description" class="col-sm-12 control" rows="1"></textarea>
          </div>
<!--          <div class="col-sm">-->
<!--            <label for="form7">ID заявки - {{boardSelect?.id}}</label>-->
<!--            <div class="md-form">-->
<!--              <textarea id="form7" class="md-textarea form-control" rows="1" readonly [value]="text"></textarea>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label >Комментарий</label>
              <textarea formControlName="comment" class="col-sm-12 control" rows="1"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-btn btn2 btn-secondary" (click)="cancel()">Закрыть</button>
    <button type="button" class="btn btn-btn btn2 btn-success" [disabled]="!this.eventsForm.valid" (click)="addEvent()">Сохранить</button>
  </div>
</div>
